@charset "utf-8";



/* mobile */
@media (max-width: 767px) {
    .in-house-sec {position:relative; padding:0 12px;}
    .c-gray4 {color:#868686;}
    
    /* 서브메뉴 */
    .lnb-box {z-index:4; position:absolute; width:154px; top:14px; right:11px;}
    .lnb-box .lnb-txt-box, .lnb-box .lnb li {box-sizing:border-box; border:1px solid #d2d2d2; background:#fff}
    .lnb-box .lnb-txt-box {position:relative; height:30px;}
    .lnb-box .lnb-txt-box .lnb-txt {display:block; overflow:hidden; padding:0 30px 0 11px; font-size:13px; text-overflow:ellipsis; white-space:nowrap; line-height:30px; font-weight:500; color:#5f5f5f}
    .lnb-box .lnb-txt-box .ic-bArrow {position:absolute; width:16px; height:20px; top:50%; right:8px; margin-top:-12px;}
    .lnb-box .lnb-txt-box .ic-bArrow:after {top: 0; right:-3px; width:9px; height: 9px; border-color:#4c4c4c}
    .lnb-box .lnb-txt-box.on .ic-bArrow {margin-top:-6px;}
    .lnb-box .lnb-txt-box.on .ic-bArrow:after {top:0; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
    .lnb-box .lnb {display:none;}
    .lnb-box .lnb li {border-top:0}
    .lnb-box .lnb li a {display:block; padding:10px 11px 10px 11px; font-size:15px; line-height:1.4em; word-break:keep-all; font-weight:500; color:#010101}
    .lnb-box .lnb .on a {color:#e9a105}
    .lnb-box .lnb .yet a {color:#7b7b7b}
    
    /* 공통 */
    .ihs-outer {display:none; box-sizing:border-box; width:100%; margin:0 auto; padding:68px 0 0;}
    .ihs-outer h3 {font-size:20px; padding:0 0 30px; font-weight:bold; text-align:center; color:#000}
    .ihs-outer h3 span {display: block; padding-top:11px; font-size:13px; line-height: 1.3em;}
    .ihs-outer h3 .show-xs {padding:0}
    
    /* 본관이전 - 관내 */
    .in-house-sec .ihs-box {width: 100%; padding:28px 0 31px; border-top:1px solid #bfbfbf;}
    .in-house-sec .ihs-box.nth-1 {padding-top:0; border-top:0;}
    .in-house-sec .ih-prc-box {margin:0 auto; text-align:center;}
    .in-house-sec .ih-prc-box .ihpb-l {display:block; width:100%; margin-top:10px; border:1px solid #bfbfbf;}
    .in-house-sec .ih-prc-box .ihpb-l.nth-1 {margin-top:0}
    .in-house-sec .ih-prc-box .ihpb-l h4 {margin-bottom:13px; padding:9px 0; font-size:13px; text-align: center; letter-spacing: 0; color:#fff; background:#5f5f5f}
    .in-house-sec .ih-prc-box .ihpb-l div {width:215px; margin:0 auto; padding-bottom:10px;}
    .in-house-sec .ih-prc-box .ihpb-l div p {font-size:13px}
    .in-house-sec .ih-prc-box .ihpb-p1 {display:inline-block; min-width:220px; padding:14px 0 7px; font-size:17px; text-align:left; border-bottom:2px solid #000}
    .in-house-sec .ih-prc-box .ihpb-p1 em {display:inline-block; float:right; font-weight:bold}
    .in-house-sec .ihs-box.nth-1 .ih-p1 {padding:30px 0 20px; font-size:13px; text-align:center; font-weight:600; line-height:1.5em}
    .in-house-sec .ihs-box.nth-1 .ih-p2 {position: relative; margin-top: 5px; padding-left:8px; font-size:12px; line-height: 1.35em; word-break:keep-all; color: #626262;}
    .in-house-sec .ihs-box.nth-1 .ih-p2:before {position: absolute; left: 0; top: 0; display: inline-block; content: "·";}
    .in-house-sec .ihs-box.nth-1 .btn {display: block; position: relative; width:225px; height: 45px; margin: 0 auto; margin-bottom:22px; font-size:15px; font-weight: 500; line-height:45px;}
    .in-house-sec .ihs-box.nth-2 h4, .in-house-sec .ihs-box.nth-3 h4 {margin-bottom:20px; font-size:15px; font-weight:bold}
    .in-house-sec .ihs-box.nth-2 h4 span, .in-house-sec .ihs-box.nth-3 h4 span {display: block; margin-top:6px; font-size:12px; font-weight:normal; letter-spacing:-1px; line-height:1.5em; color: #626262;}
    .in-house-sec .ihs-box.nth-2 .ih-p1 {margin-top:15px; font-size:13px; font-weight:bold}
    .in-house-sec .ihs-box.nth-2 .ih-p1.nth-1 {margin-top:0;}
    .in-house-sec .ihs-box.nth-2 .ih-p2 {display: inline-block; height:20px; margin-top:7px; padding: 0 11px; font-size:12px; font-weight:500; line-height:20px; text-align: center; background: #dcdcdc;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 {position: relative; margin-top:8px; padding-left:14px; font-size:12px; word-break:keep-all; line-height: 1.5em; color:#000}
    .in-house-sec .ihs-box.nth-3 .ih-p1.nth-1 {margin-top:0;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 span {position: absolute; left: 0;}
    
    /* 설립등기 */
    .est-reg-sec .ihs-box {margin:0 auto}
    .ers-p1, .ers-p2, .ers-p3, .ers-p4 {margin:0 auto}
    .ers-p1 .f-semibold, .ers-p1 .txt-box, .ers-p2 .f-semibold, .ers-p2 .chk-box, .ers-p2 .chk-box + span  {vertical-align: middle;}
    .ers-p1 .f-semibold, .ers-p2 .f-semibold {display:block; margin-bottom:9px; font-size:15px;}
    .ers-p1 {margin-bottom:17px;}
    .ers-p1 .txt-box {width:167px; height:23px; font-size:13px;}
    .ers-p1 .money-text {display: inline-block; margin-left:10px; font-size:12px; vertical-align:middle;}
    .ers-p2 {position:relative; margin-bottom:24px;}
    .ers-p2 .chk-box {position: absolute; top:29px; margin-left:5px; cursor: pointer; vertical-align: text-bottom;}
    .ers-p2 .chk-box + span {display:inline-block; margin-left:23px; margin-right:5px; font-size:13px; line-height:1.3em; word-break:keep-all} 
    .ers-p3 {padding:0 6px; margin-bottom:18px;}
    .est-reg-sec .ihs-box.nth-1 h4 {font-size:13px; margin-top:12px; margin-bottom:7px;}
    .in-house-sec .est-reg-sec .ihs-box.nth-1 .ihpb-l h4 {margin-top:0}
    .est-reg-sec .ihs-box.nth-1 .ih-p2 > span.s1 {font-weight: 500;}
    .est-reg-sec .ihs-box.nth-2 .ih-p2.ml {margin-left:10px;}
    
    /* 설립등기 비용계산하기 */
    #ers-prc-box {padding-top:12px; margin-bottom:45px;}
    .est-reg-sec .ih-prc-box {margin-bottom:40px;}
    .est-reg-sec .blank {min-height:16px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 {border:1px solid #d2d2d2;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 h4 {margin-top:10px; margin-bottom:15px; padding-bottom:10px; font-size:15px; text-align:center; border-bottom:1px solid #d2d2d2;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l div {width: 215px; margin: 0 auto; padding-bottom: 10px;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l .last {padding-bottom:15px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 div p {position:relative; font-size:13px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 div span {display:inline-block}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .sale {position:relative;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .sale:before {content:''; position:absolute; display:inline-block; width:100%; height:1px; top:50%; padding:0 1px 0 2px; background:#989898;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free {position:absolute; top:0; right:-38px; padding:1px 5px; font-size:11px;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free-2 {font-size:13px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-p1 {margin:0; padding:15px 8px; font-size:12px; line-height:1.4em; text-align:left; word-break:keep-all; border-top:1px solid #d2d2d2}
    
    
    
    /*18
    .ers-p1 .f-semibold, .ers-p2 .f-semibold {display: inline-block; width:150px; font-size: 20px;}
    .ers-p3 {padding-left: 150px; margin-bottom:50px;}
    
    
    
    */

}

@media (max-device-width: 320px) {
    .in-house-sec .ihs-box.nth-2 h4 span, .in-house-sec .ihs-box.nth-3 h4 span {font-size:11px; letter-spacing:-1.3px;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free {top:1px; right:-34px; font-size:10px;}
}

/* tablet */
@media (min-width: 768px) and (max-width: 1099px) {
    .in-house-sec {position:relative; padding:0 20px;}
    .c-gray4 {color:#868686;}
    
    /* 서브메뉴 */
    .lnb-box {z-index:4; position:absolute; width:273px; top:14px; right:21px;}
    .lnb-box .lnb-txt-box, .lnb-box .lnb li {box-sizing:border-box; border:1px solid #d2d2d2; background:#fff}
    .lnb-box .lnb-txt-box {position:relative; height:45px;}
    .lnb-box .lnb-txt-box .lnb-txt {display:block; overflow:hidden; padding:0 42px 0 20px; font-size:16px; text-overflow:ellipsis; white-space:nowrap; line-height:45px; font-weight:500; color:#5f5f5f}
    .lnb-box .lnb-txt-box .ic-bArrow {position:absolute; width:20px; height:20px; top:50%; right:13px; margin-top:-12px;}
    .lnb-box .lnb-txt-box .ic-bArrow:after {top: 0; right:-3px; width:13px; height: 13px; border-color:#4c4c4c}
    .lnb-box .lnb-txt-box.on .ic-bArrow {margin-top:-6px;}
    .lnb-box .lnb-txt-box.on .ic-bArrow:after {top:3px; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
    .lnb-box .lnb {display:none;}
    .lnb-box .lnb li {border-top:0}
    .lnb-box .lnb li a {display:block; padding:17px 13px 17px 20px; font-size:18px; line-height:1.4em; font-weight:500; color:#010101}
    .lnb-box .lnb .on a {color:#e9a105}
    .lnb-box .lnb .yet a {color:#7b7b7b}
    
    /* 공통 */
    .ihs-outer {display:none; box-sizing:border-box; width:100%; margin:0 auto; padding:90px 0 55px;}
    .ihs-outer h3 {font-size:36px; padding:0 0 40px; font-weight:bold; text-align:center; color:#000}
    .ihs-outer h3 span {display: block; margin-bottom:-10px; padding-top:20px; font-size:18px; /*text-align:left;*/ line-height: 1.3em;}
    
    /* 본관이전 - 관내 */
    .in-house-sec .ihs-box {width: 100%; padding:45px 0; border-top:1px solid #bfbfbf;}
    .in-house-sec .ihs-box.nth-1 {padding-top:0; border-top:0;}
    .in-house-sec .ih-prc-box {width:100%; border:1px solid #bfbfbf;}
    .in-house-sec .ih-prc-box .ihpb-u1 {}
    .in-house-sec .ih-prc-box .ihpb-l {float:left; width: 50%;}
    .in-house-sec .ih-prc-box .ihpb-l.nth-1 {border-right:1px solid #d2d2d2;}
    .in-house-sec .ih-prc-box .ihpb-l h4 {margin-bottom:32px; padding:17px 0; font-size:18px; text-align: center; letter-spacing: 0; color:#fff; background:#5f5f5f}
    .in-house-sec .ih-prc-box .ihpb-l div {min-height:40px}
    .in-house-sec .ih-prc-box .ihpb-l.nth-1 div {padding:0 50px 24px 45px;}
    .in-house-sec .ih-prc-box .ihpb-l.nth-2 div {padding:0 45px 24px 50px;}
    .in-house-sec .ih-prc-box .ihpb-p1 {margin:0 35px; padding:26px 0; font-size:26px; text-align:center; border-top:1px solid #d2d2d2}
    .in-house-sec .ih-prc-box .ihpb-p1 em {margin-left:30px; font-weight:bold}
    .in-house-sec .ihs-box.nth-1 .ih-p1 {padding:33px 0 35px; font-size:22px; text-align:center}
    .in-house-sec .ihs-box.nth-1 .ih-p2 {position: relative; padding-left: 10px; line-height: 1.35em; margin-top: 5px; color: #626262;}
    .in-house-sec .ihs-box.nth-1 .ih-p2:before {position: absolute; left: 0; top: 0; display: inline-block; content: "·";}
    .in-house-sec .ihs-box.nth-1 .btn {display: block; position: relative; width:348px; height: 57px; font-size: 24px; font-weight: 500; line-height:57px; margin: 0 auto; margin-bottom: 42px;}
    
    .in-house-sec .ihs-box.nth-2 h4, .in-house-sec .ihs-box.nth-3 h4 {margin-bottom:35px; font-size:22px;}
    .in-house-sec .ihs-box.nth-2 h4 span, .in-house-sec .ihs-box.nth-3 h4 span {display: block; margin-top: 6px; font-size: 16px; color: #626262;}
    .in-house-sec .ihs-box.nth-2 .ih-p1 {margin-top:30px; font-size: 20px;}
    .in-house-sec .ihs-box.nth-2 .ih-p1.nth-1 {margin-top:0;}
    .in-house-sec .ihs-box.nth-2 .ih-p2 {display: inline-block; height:30px; margin-top:14px; padding: 0 20px; font-size:18px; line-height:30px; text-align: center; background: #dcdcdc;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 {position: relative; margin-top: 5px; padding-left: 17px; font-size: 18px; line-height: 1.3em; color:#000}
    .in-house-sec .ihs-box.nth-3 .ih-p1.nth-1 {margin-top:0;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 span {position: absolute; left: 0;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 .show-sm {position:relative}
    
    /* 설립등기 */
    .est-reg-sec .ihs-box {margin:0 auto}
    .ers-p1, .ers-p2, .ers-p3, .ers-p4 {width:724px; margin:0 auto}
    .ers-p1 .f-semibold, .ers-p1 .txt-box, .ers-p2 .f-semibold, .ers-p2 .chk-box, .ers-p2 .chk-box + span  {vertical-align: middle;}
    .ers-p1 {margin-bottom: 15px;}
    .ers-p2 span + .chk-box {margin-left:15px}
    .ers-p2 .f-semibold + .chk-box {margin-left:0}
    .ers-p1 .txt-box {width: 266px; font-size: 16px;}
    .ers-p1 .f-semibold, .ers-p2 .f-semibold {display: inline-block; width:150px; font-size:18px; vertical-align:bottom}
    .ers-p1 .money-text {display: inline-block; margin-left:10px; vertical-align:middle;}
    .ers-p2 {margin-bottom: 20px;}
    .ers-p2 .chk-box {position: relative; top: 1px; margin-left:0px; margin-right: 5px; cursor: pointer; vertical-align: text-bottom;}
    .ers-p3 {padding-left: 150px; margin-bottom:20px;}
    .ers-p4 {padding-top:30px}
    .est-reg-sec .ihs-box.nth-1 h4 {font-size: 22px; margin-top:30px; margin-bottom: 20px;}
    .in-house-sec .est-reg-sec .ihs-box.nth-1 .ihpb-l h4 {margin-top:0}
    .est-reg-sec .ihs-box.nth-1 .ih-p2 > span.s1 {font-weight: 500;}
    .est-reg-sec .ihs-box.nth-2 .ih-p2.ml {margin-left: 8px;}
    
    /* 설립등기 비용계산하기 */
    #ers-prc-box {padding-top:30px; margin-bottom:70px;}
    .est-reg-sec .ih-prc-box {margin-bottom:25px;}
    .est-reg-sec .blank {min-height:16px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 {padding:0 35px 25px; border:1px solid #d2d2d2;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 h4 {margin-top:25px; margin-bottom:15px; padding-bottom:17px; font-size:26px; text-align:center; border-bottom:1px solid #d2d2d2;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l {float:left; width:50%;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l.nth-1 {border-right:1px solid #d2d2d2}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l div {padding:10px 0;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l.nth-1 div {padding-left:10px; padding-right:45px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l.nth-2 div {padding-left:45px; padding-right:10px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l .last {padding-bottom:25px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 div span {display:inline-block}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .sale {position:relative; font-size:18px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .sale:before {content:''; position:absolute; display:inline-block; width:100%; height:1px; top:50%; padding:0 1px 0 2px; background:#989898;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free {margin-left:12px; padding:1px 7px; font-size:16px;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free-2 {font-size:18px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-p1 {margin:0; margin-top:15px; padding:15px 0 0 12px; font-size:16px; line-height:1.5em; text-align:left; border-top:1px solid #d2d2d2}
}

/* pc */
@media (min-width: 1100px) {
    .lnb-box, .ihs-outer {float: left;}
    .c-gray4 {color:#868686;}
    
    /* 서브메뉴 */
    .lnb-box {width: 274px;}
    .lnb {display:block}
    .lnb li a {display: block; padding-left: 20px; padding: 16px 0 16px 20px; line-height: 1.3em; width: 100%; background: #ebebeb; font-size: 18px; border: 1px solid #bfbfbf; border-bottom: 0;}
    .lnb li.last a {border-bottom: 1px solid #bfbfbf;}
    .lnb li.on a {background: #fff; color: #e9a105; border-color: #e9a105; border-bottom: 1px solid #e9a105;}
    .lnb li.on + li a {border-top: 0;}
    .yet a {cursor:default; color:#7b7b7b}
    
    /* 공통 */
    .gh2 {font-size: 44px; padding-top: 55px; padding-bottom: 55px; font-weight: 600; text-align: center;}
    .ihs-outer {display:none; width: 790px; min-height:920px; margin-left: 36px; margin-bottom: 100px; border-top: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf;}
    .ihs-outer h3 {font-size: 30px; padding:35px 35px 40px; font-weight: bold;}
    .ihs-outer h3 span {display: block; font-size: 16px; margin-top: 10px; line-height: 1.3em;}

    /* 본관이전 - 관내 */
    .in-house-sec {width: 1100px; margin: 0 auto;}
    .in-house-sec .ihs-box {width: 100%; border-top: 1px solid #bfbfbf; padding:35px 0 35px 35px;}
    .in-house-sec .ih-prc-box {width: 100%; /*height: 404px;*/ border: 1px solid #d2d2d2; margin-bottom: 30px;}
    .ihs-box.nth-1 {padding-top:0; border-top:0}
    .in-house-sec .ihs-box.nth-1 .ihpb-u1 {position: relative;}
    .in-house-sec .ihs-box.nth-1 .ihpb-l {float: left; width: 50%;}
    .in-house-sec .ihs-box.nth-1 .ihpb-l h4 {height: 50px; text-align: center; color: #fff; background: #5F5F5F; font-size: 18px; line-height: 2.8em; letter-spacing: 0; margin-bottom: 16px;} 
    .in-house-sec .ihs-box.nth-1 .ihpb-l.nth-1 {border-right: 1px solid #d2d2d2;}
    .in-house-sec .ihs-box.nth-1 .ihpb-l div {min-height:41px; padding: 10px 45px}
    .in-house-sec .ihs-box.nth-1 .ihpb-l div p {font-size: 18px; line-height: 1.2em;}
    .in-house-sec .ihs-box.nth-1 .ihpb-l div.last {padding-bottom: 22px;}
    .in-house-sec .ihs-box.nth-1 .ihpb-p1 {text-align: center; padding: 25px 0;  margin: 0 30px; border-top: 1px solid #d2d2d2; font-size: 26px;}
    .in-house-sec .ihs-box.nth-1 .ihpb-p1 em {margin-left: 30px;}
    .in-house-sec .ihs-box.nth-1 .ih-p1 {font-size: 22px; margin-bottom: 35px;}
    .in-house-sec .ihs-box.nth-1 .ih-pwrap {}
    .in-house-sec .ihs-box.nth-1 .ih-p2 {position: relative; padding-left: 10px; line-height: 1.35em; margin-top: 5px; color: #626262;}
    .in-house-sec .ihs-box.nth-1 .ih-p2:before {position: absolute; left: 0; top: 0; display: inline-block; content: "·";}
    .in-house-sec .ihs-box.nth-1 .btn {display: block; position: relative; /*left: -17.5px;*/ left:0; width: 348px; height: 57px; font-size: 24px; font-weight: 500; line-height: 2.35em; margin: 0 auto; margin-bottom: 40px;}
    
    .in-house-sec .ihs-box.nth-2 h4 {font-size: 22px;}
    .in-house-sec .ihs-box.nth-2 h4 span {display: block; color: #626262; font-size: 16px; margin-top: 6px;}
    .in-house-sec .ihs-box.nth-2 .ih-p1 {margin-top: 30px; font-size: 20px;}
    .in-house-sec .ihs-box.nth-2 .ih-p2 {display: inline-block; height:30px; font-size: 18px; line-height:28px; text-align: center; background: #dcdcdc; margin-top: 10px; padding: 0 15px;}

    .in-house-sec .ihs-box.nth-3 h4 {font-size: 22px; margin-bottom: 30px;}
    .in-house-sec .ihs-box.nth-3 h4 span {display: block; color: #626262; font-size: 16px; margin-top: 6px;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 {position: relative; font-size: 18px; margin-top: 5px; line-height: 1.3em; padding-left: 17px;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 span {position: absolute; left: 0;}
    .in-house-sec .ihs-box.nth-3 .ih-p1 .show-lg {position:relative}

    /* 설립등기 */
    .est-reg-sec .ihs-box {padding: 35px 0 35px 35px;}
/*    .est-reg-sec .ihs-box.nth-1 > h3 {font-size: 30px; margin-bottom: 40px; font-weight: 500;}
    .est-reg-sec .ihs-box.nth-1 > h3 span {display: block; font-size: 16px; margin-top: 10px; line-height: 1.3em;}*/
    .ers-p1 .f-semibold, .ers-p1 .txt-box {vertical-align: middle;}
    .ers-p1, .ers-p2 {padding-left: 5px;}
    .ers-p1 {margin-bottom: 12px;}
    .ers-p1 .txt-box {width: 266px; font-size: 16px;}
    .ers-p2 {margin-bottom: 20px;}
    .ers-p2 span + .chk-box {margin-left:20px}
    .ers-p2 .f-semibold + .chk-box {margin-left:0}
    .ers-p2 .f-semibold, .ers-p2 .chk-box, .ers-p2 .chk-box + span {vertical-align: middle;}
    .ers-p1 .f-semibold, .ers-p2 .f-semibold {display: inline-block; width: 160px; font-size:18px; vertical-align: bottom;}
    .ers-p1 .money-text {display: inline-block; margin-left:10px; vertical-align:middle;}
    .ers-p2 .chk-box {position: relative; top: 1px; margin-left: -2px; margin-right: 5px; cursor: pointer; vertical-align: text-bottom;}
    .ers-p3 {padding-left: 165px; margin-bottom:20px;}
    .ers-p4 {padding-top:30px;margin-bottom: 50px;}

    /* 설립등기 비용계산하기 */
    #ers-prc-box {padding-top:30px; margin-bottom: 50px;}
    .est-reg-sec .ihs-box.nth-1 h4 {font-size: 22px; margin-top:30px; margin-bottom: 20px;}
    .est-reg-sec .ihs-box.nth-1 .ih-p2 > span.s1 {font-weight: 500;}
    .est-reg-sec .ihs-box.nth-2 .ih-p2.ml {margin-left: 8px;}
    .in-house-sec .est-reg-sec .ihs-box.nth-1 .ihpb-l h4 {margin-top:0}
    .est-reg-sec .blank {min-height:21px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 {margin-bottom:22px; padding:0 35px 25px; border:1px solid #d2d2d2;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 h4 {margin-top:25px; margin-bottom:15px; padding-bottom:17px; font-size:26px; text-align:center; border-bottom:1px solid #d2d2d2;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l div {padding:10px 0;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l.nth-1 div {padding-left:10px; padding-right:45px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-l.nth-2 div {padding-left:45px; padding-right:10px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 div p {letter-spacing:-1.3px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 div span {display:inline-block; letter-spacing:-1.3px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .sale {position:relative; font-size:18px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .sale:before {content:''; position:absolute; display:inline-block; width:100%; height:1px; top:50%; padding:0 1px 0 2px; background:#989898;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free {margin-left:12px; padding:1px 7px; font-size:16px;}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .free-2 {font-size:18px}
    .est-reg-sec .ihs-box.nth-1 .ih-prc-box-2 .ihpb-p1 {margin:0; margin-top:15px; padding:15px 0 0 12px; font-size:16px; line-height:1.5em; text-align:left;}
}