@charset "utf-8";
    
section[class*="-sec"] div[class*="-area"] {position: relative; width: 1100px; margin: 0 auto;}
.gh2 {padding:80px 0 20px; font-size:42px; font-weight:600; text-align: center; letter-spacing: 0.7px;}
.gp1 {text-align: center; font-size: 20px; line-height: 1.3em; margin-bottom: 22px;}
.gp2 {width: 1100px; margin: 0 auto; text-align: right; margin-bottom: 8px;}

.apply-sec {padding-bottom:200px;}
.apply-area {padding:25px 0 95px; border-top:1px solid #bfbfbf; border-bottom:1px solid #bfbfbf}
.apply-area .outer {}
.apply-area .outer > div {float:left; position:relative}
.apply-area .outer .tit-box {}
.apply-area .outer .tit-box h3 {font-size:30px; font-weight:600}
.apply-area .outer .con-box {position:relative; padding-left:90px;}
.apply-area .outer .con-box .row {display:table; position:relative; margin-bottom:10px;}
.apply-area .outer .con-box li {display:table-cell; vertical-align: top;}
.apply-area .outer .con-box .th {width:135px; font-size:20px; font-weight:500; line-height:25px; letter-spacing:-0.5px;}
.apply-area .outer .con-box .td {}
.apply-area .outer .con-box .type-01 {width:245px;}
.apply-area .outer .con-box .type-02 {float:left; width:68px;}
.apply-area .outer .con-box .phone-line {float:left; position:relative; display:inline-block; width:20px; height:32px; vertical-align:top}
.apply-area .outer .con-box .phone-line:before {content:''; position:absolute; display:inline-block; width:8px; height:1px; top:50%; left:50%; margin-left:-4px; background:#000}
.apply-area .outer .con-box .txt-area {resize:none; width:617px; height:400px; padding:10px; font-size: 20px; border: 1px solid #bfbfbf;}
.agree-box {width:875px; margin:25px auto 55px}
.agree-box .agree-txt {float:right; display:inline-block; position:relative; }
.agree-box .agree-txt:first-child {float:left;}
.agree-box .agree-txt .chk-box {position:absolute; top:50%; margin-top:-5px; left:0}
.agree-box .agree-txt label {padding-left:18px; font-size:16px; vertical-align:middle}
.agree-box .agree-txt .btn {height:20px; margin-left:8px; padding:0 6px 0 8px; font-size:14px; line-height:20px; vertical-align: middle; color:#686868; border:1px solid #bfbfbf}
.agree-box .agree-txt .btn span {padding-left:4px}
.btn-area {text-align:center}
.btn-area .btn-apply {display:inline-block; width:400px; height:70px; font-size:30px; font-weight:500; line-height:70px; border:2px solid #ffb411}