@charset "utf-8";
@import url(http://static.onbiz.co.kr/css/help/eviction/indexR.css);
@import url(http://static.onbiz.co.kr/css/help/order/indexR.css);
@import url(http://static.onbiz.co.kr/css/help/registration/indexR.css);

@media (max-width: 767px) {
	section[class*="-sec"] {position: relative; height: auto; padding-bottom: 30px;}
	section[class*="-sec"] h2 {font-size: 18px; font-weight: 500; text-align: center; padding-top: 30px; letter-spacing: 0.7px;}
	
	.mainIntro-sec {}
	.mainIntro-sec .bxBox .bx-wrapper,
	.mainIntro-sec .bxBox {position: relative; width: 100%;}
	.mainIntro-sec .bxS [class^=li-] {width: 100%; height: 210px; /*height: 230px;*/}
	.mainIntro-sec .bxS .li-1 {background: url(http://img.onbiz.co.kr/help/main/mainVisual_1.jpg) no-repeat center; background-size: cover; background-size: 1000px;}
	.mainIntro-sec .bxS .li-2 {background: url(http://img.onbiz.co.kr/help/main/mainVisual_2.jpg) no-repeat 55% center; background-size: cover; background-size: 920px;}
	
	.mainIntro-sec .bxS .inBox {width: 320px; margin: 0 auto; padding-top: 35px; padding-left: 10px; font-weight: 300;}
	.mainIntro-sec .bxS [class^=p-] {position: relative; color: #fff; letter-spacing: 0; word-break: keep-all; padding-right: 10px; line-height: 1.3;}
	.mainIntro-sec .bxS .inblock {display: inline-block; padding: 4px 8px 5px; font-weight: 500;}
	.mainIntro-sec .bxS .inblock span {position: relative;}
	.mainIntro-sec .bxS .p-1 {font-size: 13px;}
	.mainIntro-sec .bxS .p-1 .s-bg {position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; opacity: 0.3; filter: alpha(30);}
	.mainIntro-sec .bxS .p-2 {font-size: 22px; padding: 15px 0; line-height: 1.25;}
	.mainIntro-sec .bxS .mtb {margin: 30px 0;}
	section[class*="-sec"] .d-link {position: relative; text-align: right; padding-right: 10px; margin-bottom: -20px;}
	section[class*="-sec"] .d-link a {position: relative; display: inline-block; color: #fff; font-size: 14px; background: #ffb411; padding: 5px 10px; padding-right: 2px;}
	section[class*="-sec"] .d-link a span {position: relative; top: -2px; font-size: 10px; margin-left: 2px; font-family: "Nanum Gothic", sans-serif;}
	section[class*="-sec"] .d-link a:before,
	section[class*="-sec"] .d-link a:after {position: absolute; right: -6px; content: ""; display: inline-block;}
	section[class*="-sec"] .d-link a:before {top: 0px; background: #ffb411; width: 6px; height: 17px;}
	section[class*="-sec"] .d-link a:after {bottom: 0; content: ""; display: inline-block; border: 3px solid transparent; border-top-color: #ffb411; border-left-color: #ffb411; width: 1px; height: 1px;}
	
	/* 페이지 내 인클루드 */
	section[class*="-sec"] h2 {padding-bottom: 0 !important;}
	section.step-sec h2 {padding-bottom: 20px !important;}
	section.cheap2-sec {}
	section.step-sec {border: 0; box-sizing: border-box;}
/*	section.step-sec .step-box {width: 94%; max-width: 360px; margin: 0 auto;}*/
	
	.ss2b-area {width: 210px;}
	.ss2-slide-btn #slider-prev {left: -25px;}
	.ss2-slide-btn #slider-next {right: -25px;}
}
@media (min-width: 768px) and (max-width: 1099px) {
	section[class*="-sec"] {height: auto; padding-bottom: 50px;}
	section[class*="-sec"] h2 {font-size: 36px; font-weight: 500; text-align: center; padding-top: 50px; letter-spacing: 0.7px;}
	
	.mainIntro-sec {}
	.mainIntro-sec .bxBox .bx-wrapper,
	.mainIntro-sec .bxBox {position: relative; width: 100%;}
	.mainIntro-sec .bxS [class^=li-] {width: 100%; height: 439px;}
	.mainIntro-sec .bxS .li-1 {background: url(http://img.onbiz.co.kr/help/main/mainVisual_1.jpg) no-repeat center; background-size: cover;}
	.mainIntro-sec .bxS .li-2 {background: url(http://img.onbiz.co.kr/help/main/mainVisual_2.jpg) no-repeat center; background-size: cover;}
	
	.mainIntro-sec .bxS .inBox {width: 768px; margin: 0 auto; padding-top: 78px; padding-left: 13px; font-weight: 300;}
	.mainIntro-sec .bxS [class^=p-] {position: relative; color: #fff; letter-spacing: 0;}
	.mainIntro-sec .bxS .inblock {display: inline-block; padding: 6px 8px 7px; font-weight: 500;}
	.mainIntro-sec .bxS .inblock span {position: relative; }
	.mainIntro-sec .bxS .p-1 {font-size: 24px;}
	.mainIntro-sec .bxS .p-1 .s-bg {position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; opacity: 0.3; filter: alpha(30);}
	.mainIntro-sec .bxS .p-2 {font-size: 50px; padding: 25px 0; line-height: 1.25;}
	.mainIntro-sec .bxS .mtb {margin: 30px 0;}
	section[class*="-sec"] .d-link {position: relative; width: 768px; margin: 0 auto; text-align: right; padding-right: 20px; margin-bottom: -30px;}
	section[class*="-sec"] .d-link a {position: relative; display: inline-block; color: #fff; font-size: 20px; background: #ffb411; padding: 9px 14px; padding-right: 2px;}
	section[class*="-sec"] .d-link a span {position: relative; top: -3px; font-size: 11px; margin-left: 2px;}
	section[class*="-sec"] .d-link a:before,
	section[class*="-sec"] .d-link a:after {position: absolute; right: -10px; content: ""; display: inline-block;}
	section[class*="-sec"] .d-link a:before {top: 0px; background: #ffb411; width: 10px; height: 27px;}
	section[class*="-sec"] .d-link a:after {bottom: 0; content: ""; display: inline-block; border: 5px solid transparent; border-top-color: #ffb411; border-left-color: #ffb411; width: 1px; height: 1px;}
	
	
	/* 페이지 내 인클루드 */
	section[class*="-sec"] h2 {padding-bottom: 0 !important;}
	section.step-sec h2 {padding-bottom: 50px !important;}
	section.cheap2-sec {}
	section.step-sec {border: 0;}
	section.step-sec .step-box {width: 728px; margin: 0 auto;}
	
	.ss2b-area {width: 520px;}
	.ss2-slide-btn #slider-prev {left: -40px;}
	.ss2-slide-btn #slider-next {right: -40px;}

}
@media (min-width:1100px) {
	section[class*="-sec"] {height: auto; padding-bottom: 50px;}
	section[class*="-sec"] h2 {font-size: 42px; font-weight: 500; text-align: center; padding-top: 50px; letter-spacing: 0.7px;}

	
	.mainIntro-sec {}
	.mainIntro-sec .bxBox .bx-wrapper,
	.mainIntro-sec .bxBox {position: relative; width: 100%;}
	.mainIntro-sec .bxS [class^=li-] {width: 100%; height: 439px;}
	.mainIntro-sec .bxS .li-1 {background: url(http://img.onbiz.co.kr/help/main/mainVisual_1.jpg) no-repeat center; background-size: cover;}
	.mainIntro-sec .bxS .li-2 {background: url(http://img.onbiz.co.kr/help/main/mainVisual_2.jpg) no-repeat center; background-size: cover;}
	
	.mainIntro-sec .bxS .inBox {width: 1100px; margin: 0 auto; padding-top: 78px; padding-left: 13px; font-weight: 300;}
	.mainIntro-sec .bxS [class^=p-] {position: relative; color: #fff; letter-spacing: 0;}
	.mainIntro-sec .bxS .inblock {display: inline-block; padding: 6px 8px 7px; font-weight: 500;}
	.mainIntro-sec .bxS .inblock span {position: relative; }
	.mainIntro-sec .bxS .p-1 {font-size: 24px;}
	.mainIntro-sec .bxS .p-1 .s-bg {position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; opacity: 0.3; filter: alpha(30);}
	.mainIntro-sec .bxS .p-2 {font-size: 50px; padding: 25px 0; line-height: 1.25;}
	.mainIntro-sec .bxS .mtb {margin: 30px 0;}
	section[class*="-sec"] .d-link {position: relative; width: 1100px; margin: 0 auto; text-align: right; padding-right: 20px; margin-bottom: -38px;}
	section[class*="-sec"] .d-link a {position: relative; display: inline-block; color: #fff; font-size: 20px; background: #ffb411; padding: 9px 14px; padding-right: 2px;}
	section[class*="-sec"] .d-link a span {position: relative; top: -3px; font-size: 11px; margin-left: 2px;}
	section[class*="-sec"] .d-link a:before,
	section[class*="-sec"] .d-link a:after {position: absolute; right: -10px; content: ""; display: inline-block;}
	section[class*="-sec"] .d-link a:before {top: 0px; background: #ffb411; width: 10px; height: 27px;}
	section[class*="-sec"] .d-link a:after {bottom: 0; content: ""; display: inline-block; border: 5px solid transparent; border-top-color: #ffb411; border-left-color: #ffb411; width: 1px; height: 1px;}
	
	
	/* 페이지 내 인클루드 */
	section[class*="-sec"] h2 {padding-bottom: 0 !important;}
	section.step-sec h2 {padding-bottom: 50px !important;}
	section.cheap2-sec {}
	
}

