@charset "utf-8";

section[class*="-sec"] div[class*="-box"], ul[class*="-box"] {position: relative; width: 1100px; margin: 0 auto;}
section[class*="-sec"] h2 {padding:80px 0 56px; font-size:42px; font-weight: 600; text-align: center; letter-spacing: 0.7px;}

/* visual */
.main-sec {display:none}

/* 주요사례 */
.case-sec {padding-bottom:200px}
.case-sec .case-list {padding:0 20px}
.case-sec .case-list > li {float:left; position:relative; width:340px; margin:0 0 55px 20px} 
.case-sec .case-list .ml0 {margin-left:0} 
.case-sec .case-list .pic {position:relative;} 
.case-sec .case-list .pic:before, .case-sec .case-list .pic:after {content:''; display:block; position:absolute; top:0; left:0; background:#ffab00} 
.case-sec .case-list .pic:before {width:35px; height:5px;} 
.case-sec .case-list .pic:after {width:5px; height:35px;} 
.case-sec .case-list .suit-case-list {padding:15px 0 0 10px} 
.case-sec .case-list .suit-case-list li {position:relative; margin-top:20px; padding-left:18px; font-size:20px; line-height:25px;} 
.case-sec .case-list .suit-case-list li:first-child {margin-top:0}
.case-sec .case-list .suit-case-list li:before {content:''; display:inline-block; position:absolute; width:9px; height:9px; top:9px; left:0; background:#ffb416} 
.case-sec .case-list .suit-case-list .i-d {position:relative; padding-left:9px; font-size:18px; line-height:25px; color:#535353} 
.case-sec .case-list .suit-case-list .i-d:before {content:''; display:inline-block; position:absolute; width:5px; height:1px; top:12px; left:0; background:#535353} 
.case-sec .btn-area {display:block; margin:0 auto; padding-top:10px; text-align:center} 
.case-sec .btn-area .btn-more {display:inline-block; position:relative; width:400px; height:70px; border:2px solid #ffb411} 
.case-sec .btn-area .btn-more span {position:relative; display:inline-block; padding:16px 12px 19px 0; font-size:30px; color:#ffb411; }
.case-sec .btn-area .btn-more .more {position:absolute; width:15px; height:100%; padding:0;}
.case-sec .btn-area .btn-more .more:before, .case-sec .btn-area .btn-more .more:after {content:''; display:inline-block; position:absolute; top:50%; margin-top:-7px; background:#ffab00} 
.case-sec .btn-area .btn-more .more:before {width:2px; height:15px; margin-left:6px;} 
.case-sec .btn-area .btn-more .more:after {width:15px; height:2px; margin-top:-1px;} 
