@charset "utf-8";

/* mobile */
@media (max-width: 767px) {
   
    section[class*="-sec"] div[class*="-box"], ul[class*="-box"] {position: relative; width: 100%; margin: 0 auto;}
    section[class*="-sec"] h2 {padding:30px 0 15px; font-size:22px; font-weight: 600; text-align: center; letter-spacing: 0.7px;}

    /* visual */
    .main-sec {width:100%; text-align:center; background: url(http://img.onbiz.co.kr/help/eviciton/bg_main_visual_m.jpg) no-repeat center center; background-size:cover}
    .main-sec .ms-box {padding:32px 0;}
    .main-sec .ms-box .nth-1 {font-size:23px; line-height:31px;}
    .main-sec .ms-box .nth-1 span {display:block; font-weight:bold}
    .main-sec .ms-box .nth-2 {padding:18px 0 28px; font-size:12px;}
    .main-sec .ms-box .nth-3 .btn-apply {display:inline-block; box-sizing:border-box; width:114px; height:28px; font-size:14px; line-height:28px; border:1px solid #ffb411}
    .main-sec .ms-what {display:block; box-sizing:border-box; padding:27px 25px; background:rgba(255, 180, 17, 0.5); }
    .main-sec .ms-what .nth-1 {padding-bottom:10px; font-size:14px;}
    .main-sec .ms-what .nth-2 {font-size:12px; line-height:18px; word-break:keep-all}
    
    /* 소송현황 */
    .state-sec {}
    .state-sec .state-box {}
    .state-sec .state-box .state-list {width:100%; max-width:360px; margin:0 auto; border-collapse:collapse; border-top:2px solid #ffb411;}
    .state-sec .state-box .state-list th {font-size:13px; vertical-align:middle}
    .state-sec .state-box .state-list td {padding:10px 0 8px; font-size:12px; line-height:18px; vertical-align:middle; text-align:center; color:#4c4c4c;}
    .state-sec .state-box .state-list .num, .state-sec .state-box .state-list .writer {display:none}
    .state-sec .state-box .state-list .pic {width:65px; padding-left:10px; padding-right:10px;}
    .state-sec .state-box .state-list .crm {width:85px}
    .state-sec .state-box .state-list thead tr {height:23px; border-bottom:1px solid #bfbfbf}
    .state-sec .state-box .state-list tbody tr {border-bottom:1px solid #bfbfbf}
    .state-sec .state-box .state-list tbody .adr {text-align:left}
    
    .state-sec .pagenation {margin:30px auto 33px; text-align: center; font-size: 0;}
    .state-sec .pagenation a {box-sizing: border-box; display: inline-block; font-size: 12px; width: 18px; height: 18px; vertical-align: middle; line-height:16px; border: 1px solid #ccc; color: #919191; font-family: "Nanum Gothic"; font-weight: 600; margin-left: 2px; margin-right: 2px;}
    .state-sec .pagenation a[class*="prev"], .state-sec .pagenation a[class*="next"] {font-size: 11px; line-height:16px; letter-spacing: -2px;}
    .state-sec .pagenation a:hover, .state-sec .pagenation a.on {border: 1px solid #000; color: #000;}
    .state-sec .pagenation a.prev {text-indent: -4px;}
    .state-sec .pagenation a.pprev {text-indent: -3px;}
    .state-sec .pagenation a.next {text-indent: 1px;}
}

@media (max-device-width: 320px) {
    /* 소송현황 */
    .state-sec .state-box .state-list .crm {width:75px}
}

/* tablet */
@media (min-width: 768px) and (max-width: 1099px) {
   
    section[class*="-sec"] div[class*="-box"], ul[class*="-box"] {position: relative; box-sizing:border-box; width: 100%; margin: 0 auto; /*padding:0 20px;*/}
    section[class*="-sec"] h2 {padding:60px 0 30px; font-size:44px; font-weight: 600; text-align: center; letter-spacing: 0.7px;}

    /* visual */
    .main-sec {width:100%; text-align:center; background: url(http://img.onbiz.co.kr/help/eviciton/bg_main_visual_m.jpg) no-repeat center center; background-size:cover}
    .main-sec .ms-box {padding:70px 0 70px;}
    .main-sec .ms-box .nth-1 {font-size:50px; line-height:67px;}
    .main-sec .ms-box .nth-1 span {display:block; font-weight:bold}
    .main-sec .ms-box .nth-2 {padding:30px 0 55px; font-size:24px;}
    .main-sec .ms-box .nth-3 .btn-apply {display:inline-block; box-sizing:border-box; width:240px; height:60px; font-size:30px; line-height:60px; border:1px solid #ffb411}
    .main-sec .ms-what {display:block; box-sizing:border-box; padding:60px 145px; background:rgba(255, 180, 17, 0.5); }
    .main-sec .ms-what .nth-1 {padding-bottom:25px; font-size:30px;}
    .main-sec .ms-what .nth-2 {font-size:20px; line-height:26px; word-break:keep-all}
    
    /* 소송현황 */
    .state-sec {}
    .state-sec .state-box {}
    .state-sec .state-box .state-list {width:768px; margin:0 auto; border-collapse:collapse; border-top:2px solid #ffb411;}
    .state-sec .state-box .state-list th {font-size:20px; vertical-align:middle}
    .state-sec .state-box .state-list td {padding:10px 0 8px; font-size:20px; line-height:24px; vertical-align:middle; text-align:center; color:#4c4c4c;}
    .state-sec .state-box .state-list .num, .state-sec .state-box .state-list .writer {display:none}
    .state-sec .state-box .state-list .pic {width:140px; padding-left:20px; padding-right:20px;}
    .state-sec .state-box .state-list .crm {width:180px}
    .state-sec .state-box .state-list thead tr {height:50px; border-bottom:1px solid #bfbfbf}
    .state-sec .state-box .state-list tbody tr {border-bottom:1px solid #bfbfbf}
    .state-sec .state-box .state-list tbody .adr {text-align:left}
    .state-sec .pagenation {margin:30px auto 60px; text-align: center; font-size: 0;}
    .state-sec .pagenation a {display: inline-block; font-size: 13px; width: 32px; height: 32px; vertical-align: middle; line-height: 2.3em; border: 1px solid #ccc; color: #919191; font-family: "Nanum Gothic"; font-weight: 600; margin-left: 2px; margin-right: 2px;}
    .state-sec .pagenation a[class*="prev"], .state-sec .pagenation a[class*="next"] {font-size: 12px; line-height: 2.5em; letter-spacing: -2px;}
    .state-sec .pagenation a:hover, .state-sec .pagenation a.on {border:1px solid #000; color: #000;}
    .state-sec .pagenation a.prev {text-indent: -4px;}
    .state-sec .pagenation a.pprev {text-indent: -3px;}
    .state-sec .pagenation a.next {text-indent: 1px;}
}

/* pc */
@media (min-width: 1100px) {
    
    section[class*="-sec"] div[class*="-box"], ul[class*="-box"] {position: relative; width: 1100px; margin: 0 auto;}
    section[class*="-sec"] h2 {padding:80px 0 56px; font-size:42px; font-weight: 600; text-align: center; letter-spacing: 0.7px;}
    
    /* visual */
    .main-sec {display:none}
    
    /* 소송현황 */
    .state-sec {}
    .state-sec .state-box {}
    .state-sec .state-box .state-list {border-collapse:collapse; border-top:2px solid #ffb411;}
    .state-sec .state-box .state-list th {font-size:18px; vertical-align:middle}
    .state-sec .state-box .state-list td {padding:10px 0; font-size:16px; line-height:24px; vertical-align:middle; text-align:center; color:#4c4c4c;}
    .state-sec .state-box .state-list thead tr {height:50px; border-bottom:1px solid #bfbfbf}
    .state-sec .state-box .state-list tbody tr {border-bottom:1px solid #bfbfbf}
    .state-sec .state-box .state-list .num {width:100px}
    .state-sec .state-box .state-list .pic {width:150px}
    .state-sec .state-box .state-list .crm {width:153px}
    .state-sec .state-box .state-list .writer {width:153px}
    .state-sec .state-box .state-list tbody .adr {padding-left:20px; text-align:left}
    .state-sec .pagenation {margin:60px auto 80px; text-align: center; font-size: 0;}
    .state-sec .pagenation a {display: inline-block; font-size: 13px; width: 32px; height: 32px; vertical-align: middle; line-height: 2.3em; border: 1px solid #ccc; color: #919191; font-family: "Nanum Gothic"; font-weight: 600; margin-left: 2px; margin-right: 2px;}
    .state-sec .pagenation a[class*="prev"], .state-sec .pagenation a[class*="next"] {font-size: 12px; line-height: 2.5em; letter-spacing: -2px;}
    .state-sec .pagenation a:hover, .state-sec .pagenation a.on {border:1px solid #000; color: #000;}
    .state-sec .pagenation a.prev {text-indent: -4px;}
    .state-sec .pagenation a.pprev {text-indent: -3px;}
    .state-sec .pagenation a.next {text-indent: 1px;}
    
}
