<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>누리헬프</title>
	<!--<link rel="canonical" href="도메인">-->

	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
    <link rel="stylesheet" href="http://static.onbiz.co.kr/css/help/commonR.css">
    <link rel="stylesheet" href="http://static.onbiz.co.kr/css/help/policy/policyR.css">

<!--
	<link rel="stylesheet" href="../../src/css/commonR.css">
	<link rel="stylesheet" href="../../src/css/policy/policyR.css">
-->

	<script src="http://static.onbiz.co.kr/js/help/jquery-1.10.2.min.js"></script>
	<script src="http://static.onbiz.co.kr/js/help/common.js"></script>
<!--	<script src="../../src/js/common.js"></script>-->

	<!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<h1 class="skip">헬프미</h1>
	<div class="wrap">
				<!-- 헤더 영역 -->
		<header class="header">
			<div class="header-box center-block contain cf">
				<h2 class="hidden-lg logo-txt"><a href="#">누리헬프</a></h2>	
				<button type="button" class="tab-hnb hidden-lg">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			
				<div class="hd-gnb">
					<ul class="hb-tab hnb-m clearfix">
						<li class="on"><a href="./index.html">지급명령</a></li>
						<li><a href="./index_02.html">법인등기</a></li>
					</ul>
					<ul class="hb-user hnb-m clearfix">
						<li><a href="admin/admin_01.html">로그인</a></li>
						<li class="mlr hidden-xs hidden-sm"></li>
						<li><a href="admin/admin_00.html">회원가입</a></li>
						<li class="mlr hidden-xs hidden-sm"></li>
						<li><a href="admin/admin_03.html">마이페이지</a></li>
						<li class="mlr hidden-xs hidden-sm"></li>
						<li class="hidden-xs hidden-sm"><a href="#">고객센터</a></li>
					</ul>
				</div>
			</div>
		</header>

		<!--네비게이션 영역-->
		<div class="top-wrap">
			<div class="top-box center-block contain">
				<h2 class="show-lg"><a href="./index.html">지급명령 누리헬프</a></h2>
				<nav>
					<ul class="tb-nav clearfix">
						<li class="hidden-lg on"><a href="./index.html">지급명령</a></li>
						<li><a href="order/charge/index.html">이용요금</a></li>
						<li><a href="order/lawyer/index.html">변호사 소개</a></li>
						<li class="btn-wrap hidden-xs hidden-sm"><a class="align-center" href="order/test/index01_1.html">지급명령 신청하기</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<section class="policy-sec">
			<div class="policy">
				<h3 class="menu03">개인정보취급방침</h3>
				<div class="box-txt">
					<strong class="first">제 1 조 (총칙)</strong>
					<ol>
						<li>① 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다.</li>
						<li>② 헬프미 법률사무소(이하 &apos;법률사무소&apos;)는 이용자의 개인정보 보호를 매우 중요시하며, 정보통신망이용촉진및정보보호에관한법률상의 개인정보보호 규정 및 정보통신부가 제정한 개인정보 보호지침을 준수하고 있습니다.</li>
						<li>③ 법률사무소는 개인정보보호정책을 홈페이지 첫 화면에 공개함으로써 이용자가 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</li>
					</ol>
					<strong>제 2 조 (개인정보의 수집, 이용에 관한 사항)</strong>
					<p>법률사무소는 개인정보보호법에 따라 본 계약과 관련하여 이용자의 정보를 다음과 같이 수집 &middot; 이용하고자 합니다.</p>
					<p>개인정보의 수집, 이용 목적</p>
					<ul>
						<li>- 지급명령 헬프미 서비스의 이용, 지급명령 헬프미 서비스를 통해 작성한 서류의 다운로드, 휴대전화 문자메시지를 통한 지급명령의 진행상황 안내, 분쟁 대응, 사이트 이용질서 유지 등</li>
						<li>- 지급명령 위임계약에 따른 이해관계인에 대한 법규 및 계약상 의무 이행 - 금융거래 관련 업무(결제업무 관련 금융거래 신청, 이체 등)</li>
					</ul>
					<p>수집. 이용할 개인정보의 내용</p>
					<ol>
						<li>
							1) 회원가입시
							<ul>
								<li>- 개인식별정보 (성명, 휴대폰번호, 전자우편주소, 비밀번호)</li>
								<li>- 자동 생성정보 (IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 기기정보)</li>
							</ul>
						</li>
						<li>
							2) 서비스 이용시(결제)
							<ul>
								<li>- 신용카드 정보, 은행계좌 정보, 결제기록 등의 정보</li>
								<li>- 주소, 성별, 생년월일(위임사무에 한정, 별도의 동의 절차 존재)</li>
								<li>- 지급명령신청서를 작성하기 위하여 회원이 입력한 정보 일체</li>
							</ul>
						</li>
					</ol>
					<p>개인정보의 보유 &middot; 이용 기간</p>
					<p>법률사무소는 원칙적으로 개인정보 이용목적 달성 후에는 해당 개인정보를 지체 없이 파기합니다. 단, 내부방침 및 관계법령의 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.</p>
					<ol>
						<li>
							가. 내부 방침(부정이용기록)
							<ul>
								<li>- 보존이유: 기존 구매 내역에 대한 본인 인증 필요성(부정이용의 배제 등 법률사무소 방침에 의한 보존)</li>
								<li>- 보존항목: 이름, 휴대폰번호, 전자우편번호</li>
								<li>- 보존기간: 6개월</li>
							</ul>
						</li>
						<li>
							나. 법령에 따라 보존할 필요성이 있는 경우
							<ol>
								<li>
									1) 계약 또는 청약철회 등에 관한 기록
									<ul>
										<li>- 보존근거: 전자상거래 등에서의 소비자보호에 관한 법률</li>
										<li>- 보존기간: 5년</li>
									</ul>
								</li>
								<li>
									2) 대금결제 및 재화 등의 공급에 관한 기록
									<ul>
										<li>- 보존근거: 전자상거래 등에서의 소비자보호에 관한 법률</li>
										<li>- 보존기간: 5년</li>
									</ul>
								</li>
								<li>
									3) 소비자의 불만 또는 분쟁처리에 관한 기록
									<ul>
										<li>- 보존근거: 전자상거래등에서의 소비자보호에 관한 법률</li>
										<li>- 보존기간: 3년</li>
									</ul>
								</li>
								<li>
									4) 웹사이트 방문기록
									<ul>
										<li>-보존근거: 통신비밀보호법</li>
										<li>-보존기간: 3개월</li>
									</ul>
								</li>
							</ol>
						</li>
					</ol>
					<strong>제 3 조 (고유식별정보의 처리에 관한 사항)</strong> 법률사무소는 지급명령 헬프미 서비스 계약 과정에서 이용자의 고유식별정보를 필수적으로 요하는 경우, 개인정보보호법에 따라 개인정보에 대한 개별 동의사항에 대하여 이용자의 고유식별정보(주민등록번호, 외국인등록번호)를 처리(수집 &middot; 이용, 조회, 제공)할 수 있습니다. 이 경우 법률사무소는 이용자의 명시적인 고유식별정보 처리 동의를 받아야 합니다.
					<strong>제 4 조 (개인정보의 제공에 관한 사항)</strong>
					<p>법률사무소는 개인정보보호법에 따라 본 계약과 관련하여 이용자의 정보를 고지한 범위 내에서 사용하며, 동 범위를 초과하여 사용하거나 타인 도는 타 기업, 기관에 제공하지 않습니다. 다만 다음의 경우에는 개인정보를 처리할 수 있습니다.</p>
					<ul>
						<li>- 정보주체가 사전에 제3자 제공 및 공개에 동의한 경우</li>
						<li>- 법령 등에 의해 제공이 요구되는 경우</li>
						<li>- 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우</li>
						<li>- 개인을 식별하기에 특정할 수 없는 상태로 가공하여 이용하는 경우</li>
					</ul>
					<strong>제 5 조 (개인정보의 수집, 이용, 제공에 대한 동의 철회 및 파기)</strong>
					<ol>
						<li>① 개인정보의 수집, 이용, 제공에 대해 이용자가 동의하신 내용을 이용자는 언제든지 철회하실 수 있습니다. 동의철회는 웹사이트 내에서 허가된 절차에 따라 신청을 하거나 개인정보관리 책임자에게 서면, 전화, E-mail등으로 연락하시면 즉시 개인정보를 서버에서 추출하여 법령규정에 의해 보관하는 이외의 정보를 기술적으로 재생할 수 없도록 삭제하며, 해당 관리자가 확인토록 합니다. 또한 종이에 출력된 개인정보는 이용목적을 달성한 경우 분쇄기 이용한 분쇄 또는 소각하도록 합니다.</li>
						<li>② 법률사무소는 개인정보의 수집에 대한 동의를 쉽게 철회할 수 있도록 필요한 조치를 취하겠습니다.</li>
						<li>③ 회원님의 개인정보는 원칙적으로 개인정보의 이용목적이 달성될 경우 지체 없이 파기합니다. 회원님의 개인정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 사유에 따라(보유 및 이용기간 참조) 일정 기간 보관 된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우를 제외하고는 다른 목적으로 이용되지 않으며 관리자 외 접근을 엄격하게 통제하고 있습니다.</li>
						<li>④ 전자적 파일형태로 저장된 개인정보는 재생할 수 없는 안전한 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기를 통하여 파기합니다.</li>
					</ol>
					<strong>제 6 조 (개인정보의 제3자에 대한 제공 및 위탁)</strong>
					<ol>
						<li>① 법률사무소는 원칙적으로 수집 및 이용목적 범위를 넘어 회원님의 개인정보를 제 3자에게 제공하지 않습니다.</li>
						<li>② 다만 원활한 서비스 제공을 위해 회원님의 개인정보제공(제 3자 제공)이 필요합니다. 이 경우 사전에 이용자에게 이용자의 개인정보를 제공받는 자, 개인정보를 제공받는 사람의 이용 목적, 제공 대상 개인정보의 항목, 개인정보를 제공받는 자의 개인정보 보유 및 이용기간에 대해 동의를 구하는 절차를 거치거나 회원 가입시 별도의 동의를 구하는 절차를 거치게 됩니다. 이용자가 동의하지 않는 경우에는 개인정보를 제공하거나 공유하지 않고, 동의하더라도 이용자는 언제든지 그 동의를 철회할 수 있습니다.</li>
						<li>
							③ 예외적으로 이용자의 동의 없이 개인정보를 제공할 수 있습니다.
							<ol>
								<li>가. 형사소송법, 금융실명거래및비밀보장에관한법률, 신용정보의이용및보호에관한법률, 전기통신기본법, 전기통신사업법, 전파법, 지방세법, 소비자보호법, 한국은행법, 등 관계법령에 특별한 규정이 있는 경우</li>
								<li>나. 통계작성, 학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 제공하는 경우</li>
								<li>다. 그러나 예외 사항에서도 관계법령에 의하거나 수사기관의 요청에 의해 정보를 제공한 경우에는 본래의 수집목적 및 이용목적에 반하여 무분별하게 정보가 제공되지 않도록 최대한 노력하겠습니다.</li>
							</ol>
						</li>
						<li>
							④ 법률사무소는 보다 나은 서비스 제공과 고객 편의 제공 등 업무수행을 원활하게 하기 위하여 이용자가 동의한 경우 이용자의 개인정보를 필요한 업무 범위 내에서 다음과 같이 타 업체에 수집, 보관, 처리 등을 위탁하여 처리하고 있습니다.
							<ul>
								<li>수탁자</li>
								<li>위탁업무의 내용</li>
								<li>주식회사 헬프미</li>
								<li>전산 인프라 구축, 운영, 개선, 데이터 수집, 보관, 분석, 가공, 알고리즘 설계, 구축, 개선, 사용자경험 개선, 신용카드사(KB국민, 비씨, 롯데, 삼성, NH농협, 현대, 외환, 신한, 하나SK), 은행계열 카드사, 부가통신사업자(VAN), 은행(기업/국민/농협/우리/SC/신한/부산/우체국/하나), 간편결제시스템 제공자(㈜카카오 등), ㈜유디아이디, 금융결제원, LGU+, ㈜한국사이버결제(KCP), 케이지모빌리언스, 한국정보통신주식회사(KICC), 세틀뱅크㈜, 주식회사 다날</li>
								<li>거래승인, 요금정산을 위한 거래정보전송, 대금정산, 결제취소, 환불</li>
								<li>CrunchBase Inc.</li>
								<li>이메일 발송</li>
								<li>Intercome, Inc</li>
								<li>고객상담업무</li>
								<li>서울신용평가정보, 한국모바일인증㈜, 드림시큐리티</li>
								<li>나이스평가정보, ㈜유디아이디</li>
								<li>본인인증, 아이핀 인증, 안심번호, PIN 전송</li>
								<li>SKT, KT, LGU+ ㈜누리고</li>
								<li>문자메세지 전송</li>
								<li>(주)카카오</li>
								<li>카카오톡 알림톡 발송업무</li>
								<li>회원의 선택에 따라 법률상담 업무를 위임받는 변호사</li>
								<li>법률자문</li>
							</ul>
						</li>
					</ol>
					<strong>제 7 조 (개인정보의 보유 및 이용 기간, 개인정보의 파기절차 및 파기방법)</strong>
					<ol>
						<li>① 이용자의 개인정보는 개인정보의 수집목적 또는 제공받는 목적이 달성되면 지체없이 파기됩니다. 단, 상법 등 법률의 규정에 의하여 보존할 필요성이 있는 경우에는 예외로 합니다. 보존 기간 : 소송이나 분쟁의 근거자료로 보존하는 목적으로서 상법 등 법령규정, 회사 규정에 따름</li>
						<li>② 이용자의 동의를 받아 보유하고 있는 개인정보를 이용자가 확인 요구하는 경우 법률사무소는 지체없이 확인하여야 합니다.</li>
						<li>③ 파기절차 : 회원이 회원 가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (종이의 경우 별도의 서류함) 내부방침 및 기타 관련 법령에 의한 정보 보호 사유에 따라 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유 이외의 다른 목적으로 이용되지 않습니다.</li>
						<li>④ 파기방법 : 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
					</ol>
					<strong>제 8 조 장기 미이용 회원 개인정보 분리 보관</strong>
					<ol>
						<li>
							① 법률사무소는 관련 법령에 근거하여 휴면 회원의 개인정보를 접근이 불가능한 별도의 보관장치에 분리 보관합니다.
							<ul>
								<li>- 관련 법령: 정보통신망 이용촉진 및 정보보호에 관한 법률 제29조 및 동법 시행령 제16조</li>
								<li>- 휴면 회원: 헬프미 서비스를 1년 이상 이용하지 않은 회원</li>
							</ul>
						</li>
						<li>
							② 다음 조건을 만족하는 경우에는 휴면 회원으로 전환 됩니다.
							<ul>
								<li>- 서비스 홈페이지(pc/ 모바일웹, 앱 포함) 로그인 이력이 1년 이상 없는 회원</li>
							</ul>
						</li>
						<li>③ 법률사무소는 휴면 전환 30일 전까지 휴면 예정 회원에게 별도 분리 보관되는 사실 및 휴면 예정일, 별도 분리 보관하는 개인정보 항목을 이메일, 서면, 모사전송, 전화 또는 이와 유사한 방법 중 어느 하나의 방법으로 이용자에게 알립니다. 해당 통지 수단에 대한 정보가 부재 또는 오류인 경우에는 홈페이지 공지사항 게시로 대신합니다.</li>
						<li>④ 휴면 회원이 서비스 홈페이지에 로그인 등 헬프미 서비스를 재이용하는 경우 휴면 계정은 일반 회원 계정으로 복구됩니다.</li>
					</ol>
					<strong>제 9 조 (개인정보보호를 위한 기술 및 관리 대책)</strong>
					<ol>
						<li>
							① 기술적 대책
							<ul>
								<li>- 법률사무소는 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.</li>
								<li>- 이용자의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 별도 보안기능을 통해 보호되고 있습니다</li>
								<li>- 법률사무소는 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다.</li>
								<li>- 해킹 등 외부 침입에 대비하여 보안에 만전을 기하고 있습니다.</li>
							</ul>
						</li>
						<li>
							② 관리적 대책
							<ul>
								<li>
									- 회사는 귀하의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다.
									<ul>
										<li># 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자</li>
										<li># 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자</li>
										<li># 기타 업무상 개인정보의 취급이 불가피한 자</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>③ 개인정보를 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호 의무 등에 관해 정기적인 교육을 실시하고 있습니다.</li>
						<li>④ 입사 시 전 직원의 준법서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하고 있습니다.</li>
						<li>⑤ 개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다.</li>
						<li>⑥ 법률사무소는 이용자 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 이용자 개개인이 본인의 개인정보를 보호하기 위해서 자신의 주민등록번호와 비밀번호를 적절하게 관리하고 여기에 대한 책임을 져야 합니다.</li>
						<li>⑦ 그 외 내부 관리자의 실수나 기술관리 상의 사고로 인해 개인정보의 상실, 유출, 변조, 훼손이 유발될 경우 법률사무소는 즉각 이용자에게 사실을 알리고 적절한 대책을 강구할 것입니다.</li>
					</ol>
					<strong>제 10 조 (이용자의 권리와 의무)</strong>
					<ol>
						<li>① 이용자는 자신의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 법률사무소는 정상적인 서비스를 제공할 수 없습니다.</li>
						<li>② 이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는정보통신망이용촉진및정보보호등에관한법률등에 의해 처벌 받을 수 있습니다.</li>
						<li>
							③ 개인정보에 관한 상담이 필요한 경우에는 한국인터넷진흥원(KISA)내 개인정보침해신고센터로 문의하시기 바랍니다.
							<ul>
								<li>- 개인정보침해신고센터 : 전화 - (02)1336 / URL - http://www.1336.or.kr</li>
							</ul>
						</li>
					</ol>
					<strong>제 11 조 (개인정보 관리책임자 및 담당자)</strong>
					<p>법률사무소는 이용자가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하는 사고가 발생할 시에 개인정보관리책임자가 책임을 집니다. 그러나 기술적인 보안조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임이 없습니다. 이용자의 개인정보를 취급하는 책임자 및 담당자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다.</p>
					<ul>
						<li>
							- 개인정보관리책임자<br> 성명 : 박효연<br> 직책 : 대표
							<r>
								전화 : 02-6285-5601
								<r>
									전자우편 : support@help-me.kr
						</li>
						<li>
							- 개인정보관리담당자<br> 성명 : 이수호<br> 직책 : 선임<br> 전화 : 02-6285-5601<br> 전자우편 : support@help-me.kr
						</li>
					</ul>
					<strong>제 12 조 (만 14세 미만 아동의 개인정보 보호)</strong>
					<p>법률사무소는 만 14세 미만 어린이들에 대한 개인정보를 부모님의 동의없이 수집하거나 제3자와 공유 혹은 매매, 대여하지 않습니다. 또한 인터넷을 통한 상품계약에 대한 계약자로서의 자격을 부여하지 않습니다. 법률사무소의 웹사이트는 미성년자에게 유해할 수 있는 정보를 포함하고 있지 않으며 만일의 경우 고객이 정보관리책임자를 통하여 이의를 제기할 경우 즉각적으로 이를 반영하고 있습니다.</p>
					<strong>제 13 조 (광고성 정보 전송)</strong>
					<ol>
						<li>① 법률사무소는 이용자의 명시적인 수신거부의사에 반하여 영리목적의 광고성 정보를 전송하지 않습니다.</li>
						<li>
							② 법률사무소는 이용자가 뉴스레터 등 전자우편 전송에 대한 동의를 한 경우 전자우편의 제목란 및 본문란에 다음 사항과 같이 이용자가 쉽게 알아 볼 수 있도록 조치합니다.
							<ul>
								<li>- 전자우편의 제목란 : (광고)라는 문구를 제목란에 표시하지 않을 수 있으며 전자우편 본문란의 주요 내용을 표시합니다.</li>
								<li>- 전자우편의 본문란 : 이용자가 수신 거부의 의사표시를 할 수 있는 전송자의 명칭, 전자우편주소, 전화번호 및 주소를 명시합니다. 이용자가 수신 거부의 의사를 쉽게 표시할 수 있는 방법을 한글 및 영문으로 각각 명시합니다.</li>
							</ul>
						</li>
						<li>
							③ 법률사무소는 상품정보 안내 등 온라인 마케팅을 위해 광고성 정보를 전자우편 등으로 전송하는 경우 전자우편의 제목란 및 본문란에 다음 사항과 같이 귀하가 쉽게 알아 볼 수 있도록 조치합니다.
							<ul>
								<li>- 전자우편의 제목란 : (광고)라는 문구를 제목란의 처음에 빈칸 없이 한글로 표시하고 이어서 전자우편 본문란의 주요 내용을 표시합니다.</li>
								<li>- 전자우편의 본문란 : 귀하가 수신거부의 의사표시를 할 수 있는 전송자의 명칭, 전자우편 주소, 전화번호 및 주소를 명시합니다. 귀하가 수신 거부의 의사를 쉽게 표시할 수 있는 방법을 한글 및 영문으로 각각 명시합니다.</li>
							</ul>
						</li>
						<li>④ 팩스 &middot; 휴대폰 문자전송 등 전자우편 이외의 문자전송을 통해 영리목적의 광고성 정보를 전송하는 경우에는 전송내용 처음에 &quot;(광고)&quot;문구를 표기하고 전송내용 중에 전송자의 연락처를 명시하도록 조치합니다.</li>
					</ol>
				</div>
			</div>
		</section>

		<!--푸터 영역-->
		<footer class="footer">
			<div class="footer-box clearfix contain center-block">
				<div class="nth-3 show-xs show-sm">
					<p class="c-yellow nth-1">지급명령<br/>고객센터</p>
					<p class="c-white nth-2">02-6285-5601</p>
				</div>
				<ul class="clearfix">
					<li><a href="#">면책공고</a></li>
					<li class="mlr"></li>
					<li><a href="#">이용약관</a></li>
					<li class="mlr"></li>
					<li><a href="#">개인정보취급방침</a></li>
				</ul>
				<div class="nth-1"><span class="show-lg">지급명령<br/>누리헬프</span><span class="show-xs show-sm">누리헬프</span></div>
				<div class="nth-2">
					<address>
						<p>서울특별시 강남구 테헤란로82길 15, 15층(대치동, 디아이타워) (주)누리헬프</p>
						<p>대표이사: 박준수<span class="mlr"></span>사업자등록번호 : 220-88-97107</p>
						<p class="last">help@helpme.co.kr<span class="mlr"></span><small>copyright 2015 by helpme, all right reserved.</small></p>
					</address>
				</div>
				<div class="nth-3 show-lg">
					<p class="c-yellow nth-1">지급명령<br/>고객센터</p>
					<p class="c-white nth-2">02-6285-5601</p>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>
