@charset "utf-8";

label {cursor: pointer;}

@media (max-width: 767px) {
	.wrap {min-width: 320px;}
	
	/*테스트 공통*/
	.btn-wrap {text-align: center; margin-top: 10px; margin-bottom: 50px;}
	.btn-wrap .btn {display: inline-block; width: 140px; height: 46px; font-size: 18px; font-weight: 500; line-height: 2.5em; text-align: center;}
	.test-box {position: relative; width: 94%; max-width: 360px; margin: 0 auto;}

	.header-test {height: 56px; border-bottom: 1px solid #bfbfbf;}
	.header-test h2 {position: relative; top: 19px; font-size: 16px; font-weight: 700; text-align: center;}
	.header-test h2 img {position: absolute; left: 10px; top: 0px; width: 26px;}
	
	/*네비게이션*/
	.test-nav-bar {width: 94%; max-width: 360px; margin: 15px auto 0; padding-bottom: 16px; border-bottom: 1px solid #dfdfdf;}
	.test-nav-bar .list {text-align: center; font-size: 0;}
	.test-nav-bar .list > li {display: inline-block; vertical-align: middle; color: #bfbfbf; font-size: 12px; margin-left: 18px;}
/*	.test-nav-bar .list > li:first-child {margin-left: -56px;}*/
	.test-nav-bar .list > li:first-child {margin-left: -46px;}
	.test-nav-bar .list .arr {}
	.test-nav-bar .list .arr .ic-rArrow:after {}
	.test-nav-bar .list .step {}
	.test-nav-bar .list .step em {display: block; font-size: 15px; margin-bottom: 3px;}
	.test-nav-bar .list .step.on em {color: #f5b24a;}
	.test-nav-bar .list .step.on {color: #e9a105;}

	/*테스트01-1*/
	.test01-1-sec {}
	.test01-1-sec .test01-icon {text-align: center; margin-top: 60px;}
	.test01-1-sec .test01-icon img {width: 48px;}
	.test01-1-sec h2 {font-size: 22px; padding-top: 15px; padding-bottom: 20px; font-weight: 600; text-align: center;}
	.test01-1-sec p {text-align: center; font-size: 13px; line-height: 1.45em;}
	.test01-1-sec .btn-wrap {}
	.test01-1-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test01-1-sec .btn-wrap .btn.nth-2 {margin-left: 6px;}
	
	/*테스트01-2*/
	.test01-2-sec {}
	.test01-2-sec h2 {}
	.test01-2-sec .test-box {padding: 10px 0px;}
	.test01-2-sec .test-box .row {margin-top: 15px;}
	.test01-2-sec .test-box .row.nth-1 {margin-top: 0;}
	.test01-2-sec .test-box .row.nth-2 {margin-top: 10px;}
	.test01-2-sec .test-box .row p {font-size: 14px; line-height: 1.4em; vertical-align: top; word-break: keep-all;}
	.test01-2-sec .test-box .row:first-child p {vertical-align: bottom;}
	.test01-2-sec .test-box .row p.nth-1 {position: relative; padding-left: 15px;}
	.test01-2-sec .test-box .row p.nth-1:before {position: absolute; content: "Q"; left: 0; color: #ffb411; font-weight: 600;}
	
	.test01-2-sec .test-box .row p.nth-2 {margin-top: 8px; text-align: center;}
	.test01-2-sec .test-box .row p.nth-2 .radio {top: -3px;}
	.test01-2-sec .test-box .row p.nth-2 .txt-yes {margin-right: 20px;}
	.test01-2-sec .test-box .row p.nth-2 .txt-yes,
	.test01-2-sec .test-box .row p.nth-2 .txt-no {margin-left: 5px;}
	.test01-2-sec .caution-p {padding: 10px; color: #626262; background: #E6E6E6; line-height: 1.7em; margin-top: 15px; font-size: 12.5px;}
	.test01-2-sec .caution-p p {position: relative; padding-left: 8px;}
	.test01-2-sec .caution-p  span {position: absolute; left: 0; top: -2px; font-size: 10px; margin-right: 5px;}
	.test01-2-sec .step-s {margin-top: 15px; text-align: center;}
	.test01-2-sec .step-s span {display: inline-block; width: 9px; height: 9px; border-radius: 50%; margin: 0 2.5px; background: #bfbfbf;}
	.test01-2-sec .step-s span.on {background: #ffb411;}
	.test01-2-sec .btn-wrap {margin-top: 10px;}
	.test01-2-sec .btn-wrap .btn {width: 230px;}
	
	/*테스트01-3*/
	.test01-2-sec .test-box .row p span.c-gray3, .test-box .row p span.s1 {display: block; line-height: 1.45em; margin-top: 0px;}
	.test01-2-sec .test-box .row p span.c-gray3 {font-size: 13px; word-break: keep-all;}
	
	/*테스트01 레이어팝업*/
	.layer-pop .pop-area .pop-tit {display:inline-block; margin-bottom:20px; color:#000; font-weight: 500; font-size: 28px;}
	.layer-pop .pop-area .pop-txt {color:#595959; font-size:14px; line-height: 1.4em;}
	.layer-pop .pop-area .btn-wrap {margin-top: 25px; margin-bottom: 3px;}
	.layer-pop .pop-area .btn-wrap .btn {display: block; width: 240px; margin: 0 auto; height: 46px; color: #fff; font-size: 18px; font-weight: 600; line-height: 2.5em; letter-spacing: 0;}
	
	/*테스트01-7*/
	.test01-3-sec {padding-bottom: 50px; margin: 18px auto 0; width: 94%; max-width: 360px;}
	.test01-3-sec .exc-icon {text-align: center; margin-top: 30px;}
	.test01-3-sec .exc-icon img {width: 44px;}
	.test01-3-sec h2 {font-size: 19px; padding-top: 10px; padding-bottom: 20px; font-weight: 600; text-align: center; line-height: 1.25;}
	.test01-3-sec .test-box {width: 100%; padding: 0px; padding-bottom: 20px; border-top: 0;}
	.test01-3-sec .test-box > p.nth-1 {font-size: 14px; line-height: 1.4em; word-break: keep-all;}
	.test01-3-sec .test-box > p.nth-1 [class*="mt"] {display: block;}
	.test01-3-sec .test-box > p.nth-1 .mt1 {margin-top: 10px; font-weight: 500;}
	.test01-3-sec .test-box > p.nth-1 .mt2 {margin-top: 14px;}
	.test01-3-sec .test-box > p.nth-2 {position: relative; padding-left: 8px; font-size: 12px; line-height: 1.4em; word-break: keep-all;}
	.test01-3-sec .test-box > p.nth-2 .c-yellow {position: absolute; left: 0;}
	.test01-3-sec .btn-wrap .btn {width: 130px; display: inline-block; margin: 0 auto; font-size: 14px; line-height: 44px;}
	.test01-3-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test01-3-sec .btn-wrap .btn.nth-2 {margin-left: 5px; border: 1px solid #ffb411;}
	.test01-3-sec .btn-wrap .btn span {position: relative; top: -2px; font-family: "Nanum Gothic"; font-weight: 400; font-size: 12px;}
	.test01-3-sec .btn-wrap .btn.nth-1 span {margin-right: 5px;}
	.test01-3-sec .btn-wrap .btn.nth-2 span {margin-left: 5px;}
	
	.test01-3-sec .property-box {position: relative; padding-top: 25px; margin-top: 25px; margin-bottom: 25px; border-top: 1px solid #bfbfbf;}
	.test01-3-sec .property-box > div,
	.test01-3-sec .property-box .box-2 > div {position: relative;}
	.test01-3-sec .property-box .box-1 {}
	.test01-3-sec .property-box .box-1 h3 {font-size: 19px; color: #1a1a1a; line-height: 1.25; text-align: center; letter-spacing: -1.5px;}
	.test01-3-sec .property-box .box-2 {width: 189px; margin: 40px auto 0;}
	.test01-3-sec .property-box .box-2 .tit {position: absolute; left: -50px;}
	.test01-3-sec .property-box .box-2 .tit em {font-size: 14px; border-bottom: 2px solid #000;}
	.test01-3-sec .property-box .box-2 .tit p:first-child {margin-top: 10px; margin-bottom: 154px;}
	.test01-3-sec .property-box .box-2 .step {width: 100%; height: 300px; background: url(http://img.onbiz.co.kr/help/order/test/test01_result_bg.jpg) no-repeat; background-size: 189px;}
	.test01-3-sec .property-box .box-2 .step li {position: relative; line-height: 1.3; text-align: center; font-size: 13px;}
	.test01-3-sec .property-box .box-2 .step li p {position: relative;}
	.test01-3-sec .property-box .box-2 .step li.nth-1 {top: 9px;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 {top: 26px; text-align: left; font-size: 12px;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 p.nth-1 {text-align: center; font-size: 13px; color: #fff;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 p.nth-2 {top: 7px; text-align: center;}
	.test01-3-sec .property-box .box-2 .step li.cf > p {position: relative; float: left; width: 84px; font-size: 12px;}
	.test01-3-sec .property-box .box-2 .step li.cf > p:first-child {margin-right: 20px;}
	.test01-3-sec .property-box .box-2 .step li.nth-3 {top: 86px;}
	.test01-3-sec .property-box .box-2 .step li.nth-3 p.nth-1 {}
	.test01-3-sec .property-box .box-2 .step li.nth-3 p.nth-2 {}
	.test01-3-sec .property-box .box-2 .step li.nth-4 {top: 130px;}
	.test01-3-sec .property-box .box-2 .step li.nth-4 p.nth-1 {}
	.test01-3-sec .property-box .box-2 .step li.nth-4 p.nth-2 {top: -7px;}
	
	/*테스트02-1*/
	.test02-1-sec {padding-bottom: 50px; width: 94%; max-width: 360px; margin: 0 auto;}
	.test02-1-sec h2 {font-size: 18px; padding-top: 25px; padding-bottom: 20px; font-weight: 600; text-align: center;}
	.test02-1-sec .outer {width: 100%; margin: 0 auto;}
	.test02-1-sec .outer > p.nth-1 {font-size: 12px; margin-bottom: 5px; letter-spacing: 0;}
	.test02-1-sec .outer .ts2-u1 {position: relative; margin-bottom: 20px;}
	.test02-1-sec .outer .ts2-u1 li {float: left; margin-left: 2%; width: 49%; margin-top: 5px; margin-bottom: 5px;}
	.test02-1-sec .outer .ts2-u1 li:nth-child(2n-1) {margin-left: 0;}
	.test02-1-sec .outer .ts2-u1 li h3, .test02-1-sec .outer .ts2-u1 li p {float: left; }
	.test02-1-sec .outer .ts2-u1 li h3 {position: relative; width: 32%; height: 68px; margin-right: 1%; background: #ffb411; color: #fff; font-size: 13px; font-weight: 500; line-height: 1.3em; text-align: center;}
	.test02-1-sec .outer .ts2-u1 li h3.type01 {padding-top: 27px;}
	.test02-1-sec .outer .ts2-u1 li h3.type02 {padding-top: 19px;}
	.test02-1-sec .outer .ts2-u1 li p:after {content:''; display:inline-block; height:100%; vertical-align: middle;}
	.test02-1-sec .outer .ts2-u1 li p {width: 67%; font-size: 12px; border: 1px solid #bfbfbf; padding-top: 5px; text-align: left; padding-left: 3px; cursor: pointer;}
	.test02-1-sec .outer .ts2-u1 li p:hover {border-color: #ffb411;}
	.test02-1-sec .outer .ts2-u1 li p.on {color: #ffb411; border-color: #ffb411; font-weight: 500;}
	.test02-1-sec .outer .ts2-u1 li p.type01 {height: 68px;}
	.test02-1-sec .outer .ts2-u1 li p.type02 {height: 32px; margin-bottom: 4px;}
	.test02-1-sec .outer .ts2-u1 li p.type03 {height: 32px;}
	.test02-1-sec .outer > h4, .test02-1-sec .outer .tip-box {width: 100%; margin: 0 auto;}
	.test02-1-sec .outer > h4 {font-size: 15px; margin-bottom: 10px;}
	
	.test02-1-sec .outer .tip-box {}
	.test02-1-sec .outer .tip-box .txt-u1 li {border: 1px solid #bfbfbf; margin-top: 10px; padding-bottom: 10px;}
	.test02-1-sec .outer .tip-box .txt-u1 li:first-child {border-left: 1px solid #bfbfbf; margin-top: 0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p {position: relative; padding: 2px 10px; padding-left: 22px; line-height: 1.2em; margin-top: 3px; font-size: 12px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:first-child {margin-top: 0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:first-child + p {margin-top: 10px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:before {content: "·"; position: absolute; left: 8px; top: 1px; font-size: 14px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p.th {position: relative; padding: 0; text-align: center; background: #bfbfbf; line-height: 2.5;  font-size: 13px; background: #f0f0f0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p.th:before {display: none;}
	.test02-1-sec .btn-wrap {margin-top: 20px;}
	.test02-1-sec .btn-wrap .btn {width: 49%; display: inline-block; margin: 0 auto; font-size: 14px; line-height: 44px;}
	.test02-1-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test02-1-sec .btn-wrap .btn.nth-2 {margin-left: 2%; border: 1px solid #ffb411;}
	.test02-1-sec .btn-wrap .btn span {position: relative; top: -2px; font-family: "Nanum Gothic"; font-weight: 400; font-size: 12px;}
	.test02-1-sec .btn-wrap .btn.nth-1 span {margin-right: 5px;}
	.test02-1-sec .btn-wrap .btn.nth-2 span {margin-left: 5px;}
	
	/*테스트02-2*/
	.test02-2-gh2 {font-size: 19px; padding-top: 25px; font-weight: 600; text-align: center; width: 94%; max-width: 360px; margin: 0px auto;}
	.charge-sec {margin-top: 20px; margin-bottom: 20px;}
}
@media (min-width: 768px) and (max-width: 1099px) {
	/*테스트 공통*/
	.btn-wrap {text-align: center; margin-top: 30px; margin-bottom: 50px;}
	.btn-wrap .btn {display: inline-block; width: 235px; height: 65px; font-size: 26px; font-weight: 500; line-height: 2.5em; text-align: center;}
	.test-box {position: relative; width: 728px; margin: 0 auto; border: 1px solid #bfbfbf;}

	.header-test {height: 94px; border-bottom: 1px solid #bfbfbf;}
	.header-test h2 {position: relative; top: 30px; font-size: 30px; font-weight: 700; text-align: center;}
	.header-test h2 img {position: absolute; left: 20px; top: -2px;}
	
	/*네비게이션*/
	.test-nav-bar {width: 633px; margin: 32px auto 0;}
	.test-nav-bar .list {text-align: center; font-size: 0;}
	.test-nav-bar .list > li {display: inline-block; vertical-align: middle; color: #bfbfbf; font-size: 18px; margin-left: 36px;}
	.test-nav-bar .list > li:first-child {margin-left: -56px;}
	.test-nav-bar .list .arr {}
	.test-nav-bar .list .arr .ic-rArrow:after {width: 10px; height: 10px;}
	.test-nav-bar .list .step {font-size: 18px;}
	.test-nav-bar .list .step em {display: block; font-size: 30px; margin-bottom: 5px; letter-spacing: -1px;}
	.test-nav-bar .list .step.on em {color: #f5b24a;}
	.test-nav-bar .list .step.on {color: #e9a105;}

	/*테스트01-1*/
	.test01-1-sec {}
	.test01-1-sec .test01-icon {text-align: center; margin-top: 100px;}
	.test01-1-sec h2 {font-size: 44px; padding-top: 30px; padding-bottom: 45px; font-weight: 600; text-align: center;}
	.test01-1-sec p {text-align: center; font-size: 22px; line-height: 1.45em;}
	.test01-1-sec .btn-wrap {}
	.test01-1-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test01-1-sec .btn-wrap .btn.nth-2 {margin-left: 15px;}

	/*테스트01-2*/
	.test01-2-sec {}
	.test01-2-sec h2 {}
	.test01-2-sec .test-box {padding: 25px 20px 12px; margin-top: 40px;}
	.test01-2-sec .test-box .row {margin-top: 25px;}
	.test01-2-sec .test-box .row.nth-1 {margin-top: 0;}
	.test01-2-sec .test-box .row.nth-2 {margin-top: 10px;}
	.test01-2-sec .test-box .row p {font-size: 18px; line-height: 1.2em; vertical-align: top;}
	.test01-2-sec .test-box .row:first-child p {vertical-align: bottom;}
	.test01-2-sec .test-box .row p.nth-1 {position: relative; padding-left: 18px; width: 100%;}
	.test01-2-sec .test-box .row p.nth-1:before {position: absolute; content: "Q"; left: 0; color: #ffb411; font-weight: 600;}
	
	.test01-2-sec .test-box .row p.nth-2 {margin-top: 15px; padding-left: 20px;}
	.test01-2-sec .test-box .row p.nth-2 .radio {top: -3px;}
	.test01-2-sec .test-box .row p.nth-2 .txt-yes {margin-right: 50px;}
	.test01-2-sec .test-box .row p.nth-2 .txt-yes,
	.test01-2-sec .test-box .row p.nth-2 .txt-no {margin-left: 5px;}
	.test01-2-sec .caution-p {padding: 20px; color: #626262; background: #E6E6E6; line-height: 1.7em; margin-top: 32px;}
	.test01-2-sec .caution-p p {position: relative; padding-left: 10px;}
	.test01-2-sec .caution-p  span {position: absolute; left: 0; top: -1px; font-size: 10px; margin-right: 5px;}
	.test01-2-sec .step-s {margin-top: 30px; text-align: center;}
	.test01-2-sec .step-s span {display: inline-block; width: 14px; height: 14px; border-radius: 50%; margin-left: 5px; margin-right: 5px; background: #bfbfbf;}
	.test01-2-sec .step-s span.on {background: #ffb411;}
	
	/*테스트01-3*/
	.test01-2-sec .test-box .row p span.c-gray3, .test-box .row p span.s1 {display: block; line-height: 1.45em; margin-top: 5px;}
	.test01-2-sec .test-box .row p span.c-gray3 {font-size: 16px;}
	
	/*테스트01 레이어팝업*/
	.layer-pop .pop-area .pop-tit {display:inline-block; margin-bottom:20px; color:#000; font-weight: 500; font-size: 28px;}
	.layer-pop .pop-area .pop-txt {color:#595959; font-size:18px; line-height: 1.4em;}
	.layer-pop .pop-area .btn-wrap {margin-top: 25px; margin-bottom: 3px;}
	.layer-pop .pop-area .btn-wrap .btn {display: block; width: 400px; margin: 0 auto; height: 54px; color: #fff; font-size: 26px; font-weight: 600; line-height: 2em; letter-spacing: 0;}
	
	/*테스트01-7*/
	.test01-3-sec {padding-bottom: 50px;}
	.test01-3-sec .exc-icon {text-align: center; margin-top: 50px;}
	.test01-3-sec h2 {font-size: 34px; padding-top: 15px; padding-bottom: 50px; font-weight: 600; text-align: center;}
	.test01-3-sec .test-box {padding: 40px 20px; padding-bottom: 20px;}
	.test01-3-sec .test-box > p.nth-1 {font-size: 18px; line-height: 1.7em;}
	.test01-3-sec .test-box > p.nth-1 [class*="mt"] {display: block;}
	.test01-3-sec .test-box > p.nth-1 .mt1 {margin-top: 20px; font-weight: 500;}
	.test01-3-sec .test-box > p.nth-1 .mt2 {margin-top: 34px;}
	.test01-3-sec .test-box > p.nth-2 {position: relative; padding-left: 10px; font-size: 14px; line-height: 1.4em;}
	.test01-3-sec .test-box > p.nth-2 .c-yellow {position: absolute; left: 0;}
	.test01-3-sec .btn-wrap .btn {width: 268px;}
	.test01-3-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test01-3-sec .btn-wrap .btn.nth-2 {margin-left: 15px; border: 1px solid #ffb411;}
	.test01-3-sec .btn-wrap .btn span {position: relative; top: -5px; font-family: "Nanum Gothic"; font-weight: 400; font-size: 18px;}
	.test01-3-sec .btn-wrap .btn.nth-1 span {margin-right: 4px; left: -20px;}
	.test01-3-sec .btn-wrap .btn.nth-2 span {margin-left: 4px; right: -10px;}
	
	.test01-3-sec .property-box {position: relative; padding-top: 55px; margin-top: 55px; margin-bottom: 45px; border-top: 1px solid #bfbfbf;}
	.test01-3-sec .property-box > div,
	.test01-3-sec .property-box .box-2 > div {position: relative;}
	.test01-3-sec .property-box .box-1 {}
	.test01-3-sec .property-box .box-1 h3 {font-size: 34px; color: #1a1a1a; line-height: 1.25; margin-top: 15px; text-align: center; letter-spacing: -1.5px;}
	.test01-3-sec .property-box .box-2 {width: 346px; margin: 100px auto 0;}
/*	.test01-3-sec .property-box .box-2 > div {float: left; width: auto;}*/
	.test01-3-sec .property-box .box-2 .tit {position: absolute; left: -105px;}
	.test01-3-sec .property-box .box-2 .tit em {font-size: 28px; border-bottom: 2px solid #000;}
	.test01-3-sec .property-box .box-2 .tit p:first-child {margin-top: 20px; margin-bottom: 280px;}
	.test01-3-sec .property-box .box-2 .step {width: 100%; height: 548px; background: url(http://img.onbiz.co.kr/help/order/test/test01_result_bg.jpg) no-repeat;}
	.test01-3-sec .property-box .box-2 .step li {position: relative; line-height: 1.45; text-align: center; font-size: 19px;}
	.test01-3-sec .property-box .box-2 .step li p {position: relative;}
	.test01-3-sec .property-box .box-2 .step li.nth-1 {top: 17px;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 {top: 47px; text-align: left; font-size: 18px;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 p.nth-1 {text-align: center; font-size: 22px; color: #fff;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 p.nth-2 {top: 17px; padding: 0 30px;}
	.test01-3-sec .property-box .box-2 .step li.cf > p {position: relative; float: left; width: 152px;}
	.test01-3-sec .property-box .box-2 .step li.cf > p:first-child {margin-right: 40px;}
	.test01-3-sec .property-box .box-2 .step li.nth-3 {top: 158px;}
	.test01-3-sec .property-box .box-2 .step li.nth-3 p.nth-1 {}
	.test01-3-sec .property-box .box-2 .step li.nth-3 p.nth-2 {}
	.test01-3-sec .property-box .box-2 .step li.nth-4 {top: 236px;}
	.test01-3-sec .property-box .box-2 .step li.nth-4 p.nth-1 {}
	.test01-3-sec .property-box .box-2 .step li.nth-4 p.nth-2 {top: -14px;}
	
	/*테스트02-1*/
	.test02-1-sec {padding-bottom: 50px;}
	.test02-1-sec h2 {font-size: 34px; padding-top: 50px; padding-bottom: 60px; font-weight: 600; text-align: center;}
	.test02-1-sec .outer {width: 750px; margin: 0 auto;}
	.test02-1-sec .outer > p.nth-1 {font-size: 18px; margin-bottom: 10px; padding-left: 20px;}
	.test02-1-sec .outer .ts2-u1 {position: relative; width: 730px; margin-left: 10px; margin-bottom: 60px;}
	.test02-1-sec .outer .ts2-u1 li {float: left; margin-left: 10px; margin-right: 10px; width: 345px; height: 126px;}
	.test02-1-sec .outer .ts2-u1 li {margin-top: 5px; margin-bottom: 5px;}
	.test02-1-sec .outer .ts2-u1 li h3, .test02-1-sec .outer .ts2-u1 li p {float: left; }
	.test02-1-sec .outer .ts2-u1 li h3 {position: relative; width: 120px; height: 124px; margin-right: 5px; background: #ffb411; color: #fff; font-size: 24px; font-weight: 500; line-height: 1.3em; text-align: center;}
	.test02-1-sec .outer .ts2-u1 li h3.type01 {padding-top: 48px;}
	.test02-1-sec .outer .ts2-u1 li h3.type02 {padding-top: 32px;}
	.test02-1-sec .outer .ts2-u1 li p:after {content:''; display:inline-block; height:100%; vertical-align: middle;}
	.test02-1-sec .outer .ts2-u1 li p {width: 220px; font-size: 18px; border: 1px solid #bfbfbf; padding-top: 5px; text-align: left; padding-left: 20px; cursor: pointer;}
	.test02-1-sec .outer .ts2-u1 li p:hover {border-color: #ffb411;}
	.test02-1-sec .outer .ts2-u1 li p.on {color: #ffb411; border-color: #ffb411; font-weight: 500;}
	.test02-1-sec .outer .ts2-u1 li p.type01 {height: 124px;}
	.test02-1-sec .outer .ts2-u1 li p.type02 {height: 60px; margin-bottom: 4px;}
	.test02-1-sec .outer .ts2-u1 li p.type03 {height: 60px;}
	.test02-1-sec .outer > h4, .test02-1-sec .outer .tip-box {width: 730px; margin: 0 auto;}
	.test02-1-sec .outer > h4 {font-size: 22px; margin-bottom: 24px;}
	
	.test02-1-sec .outer .tip-box {}
	.test02-1-sec .outer .tip-box .txt-u1 li {float: left;  height: 275px; border: 1px solid #bfbfbf; border-left: 0;}
	.test02-1-sec .outer .tip-box .txt-u1 li.nth-1 {width: 40%;}
	.test02-1-sec .outer .tip-box .txt-u1 li.nth-2 {width: 36%;}
	.test02-1-sec .outer .tip-box .txt-u1 li.nth-3 {width: 24%;}
	.test02-1-sec .outer .tip-box .txt-u1 li:first-child {border-left: 1px solid #bfbfbf;}
	.test02-1-sec .outer .tip-box .txt-u1 li p {position: relative; padding: 2px 10px; padding-left: 22px; line-height: 1.2em; margin-top: 10px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:first-child {margin-top: 0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:first-child + p {margin-top: 15px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:before {content: "·"; position: absolute; left: 8px; top: 1px; font-size: 19px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p.th {position: relative; padding: 0; height: 50px; text-align: center; background: #bfbfbf; line-height: 2.5;  font-size: 19px; background: #f0f0f0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p.th:before {display: none;}
	.test02-1-sec .btn-wrap {margin-top: 40px;}
	.test02-1-sec .btn-wrap .btn {width: 268px;}
	.test02-1-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test02-1-sec .btn-wrap .btn.nth-2 {margin-left: 15px; border: 1px solid #ffb411;}
	.test02-1-sec .btn-wrap .btn span {position: relative; top: -5px; font-family: "Nanum Gothic"; font-weight: 400; font-size: 18px;}
	.test02-1-sec .btn-wrap .btn.nth-1 span {margin-right: 4px; left: -20px;}
	.test02-1-sec .btn-wrap .btn.nth-2 span {margin-left: 4px; right: -10px;}
	
	/*테스트02-2*/
	.test02-2-gh2 {font-size: 34px; padding-top: 50px; font-weight: 600; text-align: center;}
	.charge-sec {margin-top: 50px; margin-bottom: 20px;}
}
@media (min-width:1100px) {
	body {background: #F0F0F0; width: 100%; height: 100%;}
	.wrap {position: relative; width: 1100px; min-height: 1080px; margin: 0 auto; background: #fff; padding-top: 56px;}
	
	/*테스트 공통*/
	.btn-wrap {text-align: center; margin-top: 30px; margin-bottom: 50px;}
	.btn-wrap .btn {display: inline-block; width: 235px; height: 65px; font-size: 26px; font-weight: 500; line-height: 2.5em; text-align: center;}
	.test-box {position: relative; width: 1011px; margin: 0 auto; border: 1px solid #bfbfbf;}

	/*네비게이션*/
	.test-nav-bar {width: 633px; margin: 0 auto;}
	.test-nav-bar .list {text-align: center; font-size: 0;}
	.test-nav-bar .list > li {display: inline-block; vertical-align: middle; color: #bfbfbf; font-size: 18px; margin-left: 44px;}
	.test-nav-bar .list > li:first-child {margin-left: -100px;}
	.test-nav-bar .list .arr {}
	.test-nav-bar .list .arr .ic-rArrow:after {width: 10px; height: 10px;}
	.test-nav-bar .list .step {}
	.test-nav-bar .list .step em {display: block; font-size: 30px; margin-bottom: 5px; letter-spacing: -1px;}
	.test-nav-bar .list .step.on em {color: #f5b24a;}
	.test-nav-bar .list .step.on {color: #e9a105;}

	/*테스트01-1*/
	.test01-1-sec {}
	.test01-1-sec .test01-icon {text-align: center; margin-top: 100px;}
	.test01-1-sec h2 {font-size: 44px; padding-top: 30px; padding-bottom: 45px; font-weight: 600; text-align: center;}
	.test01-1-sec p {text-align: center; font-size: 22px; line-height: 1.45em;}
	.test01-1-sec .btn-wrap {}
	.test01-1-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test01-1-sec .btn-wrap .btn.nth-2 {margin-left: 15px;}

	/*테스트01-2*/
	.test01-2-sec {}
	.test01-2-sec h2 {font-size: 34px; padding-top: 60px; padding-bottom: 50px; font-weight: 600; text-align: center;}
	.test01-2-sec .test-box {padding: 25px 54px 12px;}
	.test01-2-sec .test-box .row {margin-top: 25px;}
	.test01-2-sec .test-box .row.nth-1 {margin-top: 0;}
	.test01-2-sec .test-box .row.nth-2 {margin-top: 10px;}
	.test01-2-sec .test-box .row p {display: inline-block; font-size: 18px; line-height: 1.2em; vertical-align: top;}
	.test01-2-sec .test-box .row:first-child p {vertical-align: bottom;}
	.test01-2-sec .test-box .row p.nth-1 {position: relative; padding-left: 18px; width: 765px; margin-right: 15px;}
	.test01-2-sec .test-box .row p.nth-1:before {position: absolute; content: "Q"; left: 0; color: #ffb411; font-weight: 600;}
	.test01-2-sec .test-box .row:first-child p.nth-1:before {display: none;}
	.test01-2-sec .test-box .row p.nth-2 span {display: inline-block;}
	.test01-2-sec .test-box .row p.nth-2 span.yes {margin-right: 50px;}
	.test01-2-sec .test-box .row p.nth-2 span.no {}
	.test01-2-sec .test-box .row p.nth-2 .radio {top: -3px;}
	.test01-2-sec .test-box .row p.nth-2 .radio:first-child {margin-right: 69px;}
	.test01-2-sec .caution-p {padding: 20px 36px; color: #626262; background: #E6E6E6; line-height: 1.7em; margin-top: 32px;}
	.test01-2-sec .caution-p p {position: relative; padding-left: 10px;}
	.test01-2-sec .caution-p  span {position: absolute; left: 0; top: -1px; font-size: 10px; margin-right: 5px;}
	.test01-2-sec .step-s {margin-top: 30px; text-align: center;}
	.test01-2-sec .step-s span {display: inline-block; width: 14px; height: 14px; border-radius: 50%; margin-left: 5px; margin-right: 5px; background: #bfbfbf;}
	.test01-2-sec .step-s span.on {background: #ffb411;}

	/*테스트01-3*/
	.test01-2-sec .test-box .row p span.c-gray3, .test-box .row p span.s1 {display: block; line-height: 1.45em; margin-top: 10px;}
	.test01-2-sec .test-box .row p span.c-gray3 {font-size: 16px;}

	/*테스트01 레이어팝업*/
	.layer-pop .pop-area .pop-tit {display:inline-block; margin-bottom:20px; color:#000; font-weight: 500; font-size: 28px;}
	.layer-pop .pop-area .pop-txt {color:#595959; font-size:18px; line-height: 1.4em;}
	.layer-pop .pop-area .btn-wrap {margin-top: 25px; margin-bottom: 3px;}
	.layer-pop .pop-area .btn-wrap .btn {display: block; width: 400px; margin: 0 auto; height: 54px; color: #fff; font-size: 26px; font-weight: 600; line-height: 2em; letter-spacing: 0;}

	/*테스트01-7*/
	.test01-3-sec {padding-bottom: 50px;}
	.test01-3-sec .exc-icon {text-align: center; margin-top: 50px;}
	.test01-3-sec h2 {font-size: 34px; padding-top: 15px; padding-bottom: 50px; font-weight: 600; text-align: center;}
	.test01-3-sec .test-box {padding: 50px; padding-bottom: 20px;}
	.test01-3-sec .test-box > p.nth-1 {font-size: 18px; line-height: 1.7em;}
	.test01-3-sec .test-box > p.nth-1 [class*="mt"] {display: block;}
	.test01-3-sec .test-box > p.nth-1 .mt1 {margin-top: 20px; font-weight: 500;}
	.test01-3-sec .test-box > p.nth-1 .mt2 {margin-top: 34px;}
	.test01-3-sec .test-box > p.nth-2 {position: relative; padding-left: 10px; font-size: 14px; line-height: 1.4em;}
	.test01-3-sec .test-box > p.nth-2 .c-yellow {position: absolute; left: 0;}
	.test01-3-sec .btn-wrap .btn {width: 268px;}
	.test01-3-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test01-3-sec .btn-wrap .btn.nth-2 {margin-left: 15px; border: 1px solid #ffb411;}
	.test01-3-sec .btn-wrap .btn span {position: relative; top: -5px; font-family: "Nanum Gothic"; font-weight: 400; font-size: 18px;}
	.test01-3-sec .btn-wrap .btn.nth-1 span {margin-right: 4px; left: -20px;}
	.test01-3-sec .btn-wrap .btn.nth-2 span {margin-left: 4px; right: -10px;}
	
	.test01-3-sec .property-box {position: relative; padding-top: 55px; margin-top: 55px; margin-bottom: 45px; border-top: 1px solid #bfbfbf;}
	.test01-3-sec .property-box > div,
	.test01-3-sec .property-box .box-2 > div {position: relative; float: left; width: 50%;}
	.test01-3-sec .property-box .box-1 {}
	.test01-3-sec .property-box .box-1 h3 {font-size: 34px; color: #1a1a1a; line-height: 1.25; margin-top: 10px;}
	.test01-3-sec .property-box .box-2 {float: right; width: 346px;}
	.test01-3-sec .property-box .box-2 > div {width: auto;}
	.test01-3-sec .property-box .box-2 .tit {position: absolute; left: -105px;}
	.test01-3-sec .property-box .box-2 .tit em {font-size: 28px; border-bottom: 2px solid #000;}
	.test01-3-sec .property-box .box-2 .tit p:first-child {margin-top: 20px; margin-bottom: 280px;}
	.test01-3-sec .property-box .box-2 .step {width: 100%; height: 548px; background: url(http://img.onbiz.co.kr/help/order/test/test01_result_bg.jpg) no-repeat;}
	.test01-3-sec .property-box .box-2 .step li {position: relative; line-height: 1.45; text-align: center; font-size: 20px;}
	.test01-3-sec .property-box .box-2 .step li p {position: relative;}
	.test01-3-sec .property-box .box-2 .step li.nth-1 {top: 17px;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 {top: 47px; text-align: left; font-size: 18px;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 p.nth-1 {text-align: center; font-size: 22px; color: #fff;}
	.test01-3-sec .property-box .box-2 .step li.nth-2 p.nth-2 {top: 17px; padding: 0 30px;}
	.test01-3-sec .property-box .box-2 .step li.cf > p {position: relative; float: left; width: 152px;}
	.test01-3-sec .property-box .box-2 .step li.cf > p:first-child {margin-right: 40px;}
	.test01-3-sec .property-box .box-2 .step li.nth-3 {top: 158px;}
	.test01-3-sec .property-box .box-2 .step li.nth-3 p.nth-1 {}
	.test01-3-sec .property-box .box-2 .step li.nth-3 p.nth-2 {}
	.test01-3-sec .property-box .box-2 .step li.nth-4 {top: 236px;}
	.test01-3-sec .property-box .box-2 .step li.nth-4 p.nth-1 {}
	.test01-3-sec .property-box .box-2 .step li.nth-4 p.nth-2 {top: -14px;}


	/*테스트02-1*/
	.test02-1-sec {padding-bottom: 50px;}
	.test02-1-sec h2 {font-size: 34px; padding-top: 60px; padding-bottom: 100px; font-weight: 600; text-align: center;}
	.test02-1-sec .outer {width: 909px; margin: 0 auto;}
	.test02-1-sec .outer > p.nth-1 {font-size: 18px; margin-bottom: 10px;}
	.test02-1-sec .outer .ts2-u1 {position: relative; width: 930px; margin-left: -10px; margin-bottom: 60px;}
	.test02-1-sec .outer .ts2-u1 li {float: left; margin-left: 10px; margin-right: 10px; width: 287px; height: 126px;}
	.test02-1-sec .outer .ts2-u1 li {margin-top: 5px; margin-bottom: 5px;}
	.test02-1-sec .outer .ts2-u1 li h3, .test02-1-sec .outer .ts2-u1 li p {float: left; }
	.test02-1-sec .outer .ts2-u1 li h3 {position: relative; width: 86px; height: 124px; margin-right: 5px; background: #ffb411; color: #fff; font-size: 24px; font-weight: 500; line-height: 1.3em; text-align: center;}
	.test02-1-sec .outer .ts2-u1 li h3.type01 {padding-top: 48px;}
	.test02-1-sec .outer .ts2-u1 li h3.type02 {padding-top: 32px;}
	.test02-1-sec .outer .ts2-u1 li p:after {content:''; display:inline-block; height:100%; vertical-align: middle;}
	.test02-1-sec .outer .ts2-u1 li p {width: 196px; font-size: 18px; border: 1px solid #bfbfbf; padding-top: 5px; text-align: left; padding-left: 20px; cursor: pointer;}
	.test02-1-sec .outer .ts2-u1 li p:hover {border-color: #ffb411;}
	.test02-1-sec .outer .ts2-u1 li p.on {color: #ffb411; border-color: #ffb411; font-weight: 500;}
	.test02-1-sec .outer .ts2-u1 li p.type01 {height: 124px;}
	.test02-1-sec .outer .ts2-u1 li p.type02 {height: 60px; margin-bottom: 4px;}
	.test02-1-sec .outer .ts2-u1 li p.type03 {height: 60px;}
	.test02-1-sec .outer > h4 {font-size: 22px; margin-bottom: 24px;}
	
	.test02-1-sec .outer .tip-box {}
	.test02-1-sec .outer .tip-box .txt-u1 li {float: left;  height: 275px; width: 33.33%; border: 1px solid #bfbfbf; border-left: 0;}
	.test02-1-sec .outer .tip-box .txt-u1 li:first-child {border-left: 1px solid #bfbfbf;}
	.test02-1-sec .outer .tip-box .txt-u1 li p {position: relative; padding: 2px 10px; padding-left: 22px; line-height: 1.2em; margin-top: 10px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:first-child {margin-top: 0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:first-child + p {margin-top: 15px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p:before {content: "·"; position: absolute; left: 8px; top: 1px; font-size: 20px;}
	.test02-1-sec .outer .tip-box .txt-u1 li p.th {position: relative; padding: 0; height: 50px; text-align: center; background: #bfbfbf; line-height: 2.5;  font-size: 20px; background: #f0f0f0;}
	.test02-1-sec .outer .tip-box .txt-u1 li p.th:before {display: none;}
	.test02-1-sec .btn-wrap {margin-top: 40px;}
	.test02-1-sec .btn-wrap .btn {width: 268px;}
	.test02-1-sec .btn-wrap .btn.nth-1 {border: 1px solid #ffb411;}
	.test02-1-sec .btn-wrap .btn.nth-2 {margin-left: 15px; border: 1px solid #ffb411;}
	.test02-1-sec .btn-wrap .btn span {position: relative; top: -5px; font-family: "Nanum Gothic"; font-weight: 400; font-size: 18px;}
	.test02-1-sec .btn-wrap .btn.nth-1 span {margin-right: 4px; left: -20px;}
	.test02-1-sec .btn-wrap .btn.nth-2 span {margin-left: 4px; right: -10px;}

	/*테스트02-2*/
	.test02-2-gh2 {font-size: 34px; padding-top: 60px; font-weight: 600; text-align: center;}
	.charge-sec {width: 1020px; margin-top: 50px;}
	.charge-sec .cs-box {width: 500px; padding: 50px 45px;}

	/*테스트03-1*/
	.test03-1-sec {padding-bottom: 50px;}
	.test03-1-sec h2 {width: 1034px; margin: 0 auto; font-size: 30px; font-weight: 600; margin-top: 60px;}
	.test03-1-sec h2.nth-1 {margin-top: 55px;}
	.test03-1-sec .outer {position: relative; width: 1034px; margin: 0 auto; margin-top: 20px; border: 1px solid #bfbfbf; padding: 25px 10px 25px 40px;}
	.test03-1-sec .outer.nth-1 .btn {position: absolute; right: 0; bottom: -50px; display: inline-block; width: 140px; height: 42px; font-size: 18px; border: 1px solid #ffb411;}
	.test03-1-sec .outer.nth-1 p span {display: inline-block; line-height: 1.25em;}
	.test03-1-sec .outer.nth-1 p span.nth-1 {width: 750px; padding-right: 10px;}
	.test03-1-sec .outer.nth-1 p.nth-1 span.nth-1 {font-size: 26px;}
	.test03-1-sec .outer.nth-1 p.nth-2 span.nth-1 {font-size: 16px; color: #4b4b4b;}
	.test03-1-sec .outer.nth-1 p.nth-1 span.nth-2, .test03-1-sec .outer.nth-1 p.nth-1 span.nth-3 {color: #989898;}
	.test03-1-sec .outer.nth-1 p span.nth-2 {width: 80px;}
	.test03-1-sec .outer.nth-1 p.nth-1 span.nth-2 {font-size: 16px;}
	.test03-1-sec .outer.nth-1 p.nth-1 span.nth-3 {font-size: 20px;}
	.test03-1-sec .outer.nth-1 p.nth-2 span.nth-2 {font-size: 18px;}
	.test03-1-sec .outer.nth-1 p.nth-2 span.nth-3 {font-size: 24px;}
	.test03-1-sec .outer.nth-2 {padding-bottom: 15px;}
	.test03-1-sec .outer.nth-2 h3 {font-size: 18px; margin-top: 15px;  margin-bottom: 10px;}
	.test03-1-sec .outer.nth-2 h3:first-child {margin-top: 0;}
	.test03-1-sec .outer.nth-2 .p-dot {margin-left: 14px; line-height: 1.4em; color: #4b4b4b;}
	.test03-1-sec .outer.nth-2 .p-dot:before {content: "-";}
	.test03-1-sec .outer.nth-2 .chk-wrap {position: absolute; left: 0; bottom: -30px; width: 100%; text-align: center;}
	.test03-1-sec .outer.nth-2 .chk-box {top: 1px; margin-right: 10px;}
	.test03-1-sec .outer.nth-2 .chk-box:before {border-color: #000;}
	.test03-1-sec .outer.nth-2 .chk-box + label {font-size: 18px;}
	.test03-1-sec .outer.nth-3 .chk-wrap {margin-top: 10px;}
	.test03-1-sec .outer.nth-3 .chk-wrap:first-child {margin-top: 0;}
	.test03-1-sec .outer.nth-3 .chk-box {top: 1px; margin-right: 6px;}
	.test03-1-sec .outer.nth-3 .chk-box:before {border-color: #000;}
	.test03-1-sec .outer.nth-3 .btn {position: relative; color: #4b4b4b; display: inline-block; top: 1px; font-size: 14px; padding: 0px 8px 0px; height: 20px; line-height: 1.4em; border: 1px solid #bfbfbf; margin-left: 8px; vertical-align: middle; font-family: "Nanum Gothic";}
	.test03-1-sec .outer.nth-3 .btn span {font-family: "Nanum Gothic"; font-size: 10px; position: relative; top: -2.5px; margin-left: 3px; font-weight: 600;}
	.test03-1-sec .outer.nth-3 #chk-all + label {font-weight: 500;}
	.test03-1-sec .outer.nth-4 > ul li {margin-top: 16px;}
	.test03-1-sec .outer.nth-4 > ul li:first-child {margin-top: 0;}
	.test03-1-sec .outer.nth-4 > ul li.nth-1 span, .test03-1-sec .outer.nth-4 > ul li.nth-2 span {position: relative; display: inline-block; vertical-align: middle;}
	.test03-1-sec .outer.nth-4 > ul li.nth-1 span.nth-1, .test03-1-sec .outer.nth-4 > ul li.nth-2 span.nth-1 {font-size: 20px; width: 105px;}
	.test03-1-sec .outer.nth-4 > ul li.nth-1 .btn {display: inline-block; width: 72px; height: 24px; line-height: 1.4em; vertical-align: middle;}
	.test03-1-sec .outer.nth-4 > ul li.nth-2 span.nth-2, .test03-1-sec .outer.nth-4 > ul li.nth-2 span.nth-3 {font-size: 16px;}
	.test03-1-sec .outer.nth-4 > ul li.nth-2 span.won {position: relative; top: 1px; margin-right: 4px; font-size: 16px; font-family: "Nanum Gothic"; font-weight: 600;}
	.test03-1-sec .outer.nth-4 > ul li.nth-2 span.nth-3 {color: #989898; margin-left: 6px;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box {position: relative; width: 988px; height: 140px; padding: 30px 48px; border: 2px solid #000; left: -18px; margin-top: 24px;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box [class*='row'] p {position: relative; display: inline-block;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box [class*='row'] .p1 {width: 26%;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box [class*='row'] .p2 {width: 26%;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box [class*='row'] .p3 {width: 25%;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box [class*='row'] .p4 {width: 21%}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box [class*='row'] {}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row1 {}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row1 p {font-size: 20px; margin-bottom: 20px; font-weight: 500;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row2 p {font-size: 30px; font-weight: 500;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row2 p .ff {font-size: 24px;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row2 p .sun {position: absolute; right: 15%; top: -8px; width: 25px; height: 4px; background: #bfbfbf;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row2 p .sun.nth-2 {top: 2px;}
	.test03-1-sec .outer.nth-4 > ul li.nth-3 .box .row2 p.p4 {color: #ffb411; font-weight: 600;}
	.test03-1-sec .btn-wrap {margin-top: 40px;}
	.test03-1-sec .btn-wrap .btn {width: 268px;}

}
